<!-- <div style="margin-left:5%;margin-right: 5%;">

  <div class="card"  style="margin-left: 10%;margin-right: 10%;">
    <p style="font-size: large;font-weight: bold;">Ask Your Questions</p>
    <hr>
    <form [formGroup]="rformSupport">
      <div style="display: flex;flex-direction: row;">
      <div style="padding-bottom: 2%;padding-right: 20%;float: left;" class="">
        <p style="padding-bottom: 1%">Username</p>
        <ns-textField-account
          name="username"
          class="textfieldBorderColor font13"
          [rformgroup]="rformSupport"
          rformControlName="username"
        >
        </ns-textField-account>

      </div>

      <div style="padding-bottom: 2%;float:right">
        <p style="padding-bottom: 1%">Email</p>
        <ns-textField-account
          name="email"
          class="textfieldBorderColor font13"
          [rformgroup]="rformSupport"
          rformControlName="email"
        >
        </ns-textField-account>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;">

      <div style="padding-bottom: 2%">
        <p style="padding-bottom: 1%">Message</p>
        <ns-textField-account
          name="message" type="text"
          class="textfieldBorderColor font13"
          [rformgroup]="rformSupport"
          rformControlName="message"
        >
        </ns-textField-account>
      </div>
    </div>


      </form>
      <div style="text-align: right;">
          <p  class="btn" (click)="sendQuery()" style="color: rgb(104, 104, 209);">Edit</p>
        </div>



          </div>
  </div> -->
