<div [formGroup]="rformgroup" >
  <input [formControlName]="rformControlName" [placeholder]="placeholder" [hint]="hint" [type]="type" [ngClass]="{ errorBorder :invalidControl}" class="form-control textFieldStling ">
  <div  *ngIf="errorRequired" class="errorlbl">{{rformControlName}} is required</div>
  <div  *ngIf="errorFormate" class="errorlbl">Email format is incorrect</div>
  <div  *ngIf="errorminLength || errormaxLength"  class="errorlbl">password must be minimum  {{minlength}} character </div>
</div>
