
<div style="background-color: #f7f7f7">
  <div class="row" style="display: flex;flex: 1;flex-direction: row;justify-content: center;text-align: center;padding-top: 5%;padding-bottom: 5%;padding-left: 10vw;padding-right: 10vw;" >

<div style="float: left;width: 60%" class="cardLeft">
  <div >
<div style="width: 100%;">
    <p [style.font-size.px]="deviceXs || deviceSm ? '20':'30'"
  style="text-align: left;padding-top: 15%;font-weight: 500;">Create Your Account</p>
</div>
  <hr >

<form [formGroup]="rformSignup" style="text-align: left">
  <div style="display: flex;flex-direction: row;justify-content: space-between;">
  <div style="padding-right: 2%;min-width: 60px;" class="">
    <p >First Name</p>
    <ns-textField-account style="min-width: 100px;" name="firstName" class="textfieldBorderColor font13" [rformgroup]="rformSignup"
      rformControlName="firstName">
    </ns-textField-account>
  </div>
  <div style="padding-left: 2%;" class="">
    <p >Last Name</p>
    <ns-textField-account name="lastName" class="textfieldBorderColor font13" [rformgroup]="rformSignup"
      rformControlName="lastName">
    </ns-textField-account>
  </div>
</div>


  <div style="padding-bottom: 2%">
    <p >Email or Phone number</p>

    <ns-textField-account
      name="email"
      class="textfieldBorderColor font13"
      [rformgroup]="rformSignup"
      rformControlName="email"
    >
    </ns-textField-account>
  </div>
  <div>
    <p style="padding-bottom: 1%">Password</p>
    <ns-textField-account
      name="password" type="password"
      class="textfieldBorderColor font13"
      [rformgroup]="rformSignup"
      rformControlName="password"
    >
    </ns-textField-account>
  </div>
  <div style="padding-bottom: 2%">
    <p style="padding-bottom: 1%">Confirm Password</p>
    <ns-textField-account
      name="contact" type="password"
      class="textfieldBorderColor font13"
      [rformgroup]="rformSignup"
      rformControlName="confirmPassword"
    >
    </ns-textField-account>
  </div>



  </form>
<div style="text-align: center;margin-top: 5%;">
  <button   (click)="createAccount()" style="width: 100%;" type="button" class="btn btn-primary"  >Create Account </button>

</div>
</div>
</div>
<div style="float:right;width: 30%;" class="cardRight">
<h3 style="padding: 5%;">Hello Friend</h3>
<h4 style="">Fill up the Form and </h4>
<h4 style="">start Journey with us</h4>
<div style="text-align: center;margin:5%">
  <button   (click)="login()" style="width: 100%;" type="button" class="btn btn-primary"  >Login</button>

</div>

</div>
<div>
</div>
</div>
</div>

<div style="background-color: rgb(189, 187, 187);">
<div style="padding-left:5% ;padding-right: 5%;padding-top: 3%;padding-bottom: 3%;">
<div class="row">
  <div class="col-lg-6">
    <p>Quick Links</p>
    <p>Search</p>
  </div>
  <div class="col-lg-6">
    NewsLetter
    <input style="width: 40vw;">

  </div>
</div>
</div>

<hr class="hr" style="background-color: black;">
<div style="padding:5%" (click)="createAccount()">
  <button class="btn btn-primary" style="padding-left:2.5%;padding-right: 2.5%; background-color: rgb(63, 61, 61); color: whitesmoke">
    <span style="font-weight: bold;font-size: small;">SIGN IN</span></button>
<p style="text-align: right;">© 2020, Shrivasafoods store Powered by Shopify</p>
</div>
</div>
