<div style="margin-top: 5%;">
<p style="font-size: xx-large;text-align: center;font-weight: 500;">Cart</p>
<div class="row">
<div class="col-lg-8" style="padding-left: 5%;" >
<div  style="display: flex;flex-direction: row;justify-content: space-between;background-color: rgb(230, 230, 230);padding-top: 1.5%;padding-bottom: 1%;padding-left: 5%;padding-right: 10%;">
  <p >Total Amount </p>
  <p class="col-lg-2">{{getTotal}}</p>

  <div style="text-align: center;" >
    <button style="background-color: rgb(43, 41, 41);
    color: white;width: 100%;border-radius: 6px;" (click)="order()">Check Out</button>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      <button style="background-color: rgb(43, 41, 41);
      color: white;width: 100%;border-radius: 6px;" (click)="getBonus()">USE BONUS</button>
    </div>

</div>
<div *ngFor="let item of cartItems" style="margin-bottom: 15%;">

  <div [routerLink]="['/detail']" style="display: flex;flex-direction: row;justify-content: space-between;padding-top: 1.5%;padding-bottom: 1%;padding-left: 5%;padding-right: 10%;">
    <div class="col-lg-3">
      <div >
        <img [src]='getImage(item.productImage)'>
      </div>
  </div>
  <div class="col-lg-6" style="padding-top: 3%">
<div>
<p>{{item.details}}</p>
</div>
<div style="padding-top: 3%;justify-content: center;">
<p style="font-size: larger;"> Unit price {{item.price}}</p>
<p style="font-size: larger;">Total Units {{item.productCount}}</p>
</div>
</div>
  <div class="col-lg-3" style="padding-top: 10%;float:left">
<p style="font-weight: 500;font-size: large;">total price {{item.unitTotal}}</p>
  </div>
</div>
<hr>
</div>
</div>
<div class="col-lg-4" >
  <div>
    <p style="font-size: xx-large">Share to Your Friends</p>
    <p style="font-size: xx-large">and Get 10$ discount</p>
<p>Invite through Email</p>
    <input [(ngModel)]='refrence' placeholder="Your Friend Email" style="width: 50%;" class="form-control" type="text" name="refrence">
    <input [(ngModel)]='refrence' placeholder="Your Refrence Code" style="width: 50%;" class="form-control" type="text" name="refrence">

  </div>
  <div>
    <p>How it works</p>

    <p style="width: 40%;font-weight: bold;"> 1. <span > Send your refrence code to your friend</span></p>
    <p style="width: 40%;font-weight: bold;"> 2.<span > Ask your friend to use your refrence code to order something</span></p>
    <p style="width: 40%;font-weight: bold;"> 3.<span > Get 10$ on every order your friend did using your refrence Id</span></p>

  </div>
</div>
</div>
</div>
