<div style="background-color:rgb(240, 236, 236) ;min-height: 500px;">
  <div >

    <p class="text-block1" style="text-align: center;" >About Us</p>
    <div style="height: 20%;">
      <img class="img-responsive gradient" style="width: 100%;;object-fit:cove
  r;border-radius: 6px;" src="../assets/images/veg.jpg">
    </div>
  </div>
  <div   style="text-align: center;margin-top: 5%;margin-left:20%;margin-right: 20%;display: flex;flex-direction: column;">
    <h1>Introductions</h1>
    <h3 style="word-wrap: break-word;color: #c59d5f;">Eros ludus laboramus ne eam. Mea inani utamur rationibus eu, his ei assum volutpat. Integre dolorem mel
       an, mei nihil omittam et. Postea regione
       mentitum ei quo, debitis phaedrum conceptam vis at. Fug
       it choro scriptorem nam an, vel ex possit
        audire. Qui elitr graeci referrentur ad, eu ludus laudem tincidunt vel, ad vim wisi graeci efficiendi.</h3>
    </div>

<div style="background-color: black;text-align: center;padding-top: 5%;padding-left:5%;padding-right: 5%;display: flex;flex-direction: column;">
 <h2 style="text-align: center;color: #c59d5f;">Begin Here</h2>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="padding:5%">
    <h1 style="text-align: center;color: #c59d5f;">Diving in returant</h1>
    <h3 style="word-wrap: break-word;color: #c59d5f;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5" style="padding:5%">
    <div style="padding-top: 2.5%;padding-left: 2.5%;padding-right: 2.5%;border-radius: 6px;">

      <p class="text-block2" >About Us</p>
      <div >
        <img class="img-responsive gradient" style="width: 100%;height: 100%;;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
      </div>
    </div>
  </div>

</div>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="padding:5%">
    <div style="padding-top: 2.5%;padding-left: 2.5%;padding-right: 2.5%;border-radius: 6px;">

      <p class="text-block2" >About Us</p>
      <div >
        <img class="img-responsive gradient" style="width: 100%;height: 100%;;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>

  <div class="col-xs-5" style="padding:5%">
    <h1 style="text-align: center;color: #c59d5f;" >Diving in returant</h1>
    <h3 style="word-wrap: break-word;color: #c59d5f;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
</div>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="padding:5%">
    <h1 style="text-align: center;color: #c59d5f;">Diving in returant</h1>
    <h3 style="word-wrap: break-word;color: #c59d5f;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5" style="padding:5%">
    <div style="padding-top: 2.5%;padding-left: 2.5%;padding-right: 2.5%;border-radius: 6px;">

      <p class="text-block2">About Us</p>
      <div >
        <img class="img-responsive gradient" style="width: 100%;height: 100%;;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
      </div>
    </div>
  </div>

</div>
</div>
</div>
<div >

  <p class="text-block3">How work bring us Here</p>
  <div  style="height: 300px;">
    <img class="img-responsive gradient" style="height: 300px;width: 100%;" src="../assets/images/7.jpg">
  </div>
</div>
