<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav style="background-color: white;"
      #drawer
      class="sidenav"
      fixedInViewport="false"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [routerLink]="['/home']"
    style="padding-left: 5%;background-color: rgb(216, 215, 215);color: grey;"  organic>Catagories</mat-toolbar>
    <mat-nav-list class="fundpress-menu"  style="background-color: white;">
      <ul  class="nav-menu">

        <li class="dropdown" routerLink="/veg"  >
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vegetables
            <span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li class="navitem"><a  href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/organic">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organic
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/snacks">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Snacks & Beverages
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/fish">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fish & Meat
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/dairy">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dairy
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/bakery">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bakery & Pastry
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>

          </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:white;">
      <div  style="width: 100%;margin-top: 1%;margin-bottom: 1%;display:flex;
      flex-direction: row;justify-content:space-between;">


  <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="color: black;">menu</mat-icon>
      </button>
        <p style="color: black;margin-top: 1%;padding-right: 20%;font-size: large;font-weight:500;" routerLink="">PICKSY</p>

        <p style="padding-left: 30%;font-weight: 300px;color: grey;">
       <i class="fa fa-search" ></i>
      </p>
       <i class="fa fa-user-circle-o"  routerLink="/login"
           style="color: gray;font-size: xx-large;"></i>
      </div>


    </mat-toolbar>
  <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
