<mat-sidenav-container>
  <mat-sidenav style="background-color: white" #drawer class="sidenav" fixedInViewport="false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="row" routerLink="/" >
      <div class="col-1"></div>
      <div style="padding-left: 35px" class="col-9">Catagories</div>
      <div (click)="drawer.toggle()" class="col-2">
        <a>
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </div>

      <div></div>
    </mat-toolbar>
    <mat-nav-list class="fundpress-menu" style="background-color: white">
      <ul class="nav-menu">
        <li class="dropdown" routerLink="/">
          <a>{{ getHeaderNames(1) }}</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(2)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a (click)="catagory('vegetarian')">{{
                getPicklesConstants(1)
                }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('Non-vegetarian')">{{
                getPicklesConstants(2)
                }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(3)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a (click)="catagory('PoduluPowders')">{{
                getTraditionalPodulu(1)
                }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('HomeMadeMasalas')">{{
                getTraditionalPodulu(2)
                }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(4)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a (click)="catagory('TradaitonalSweets')">{{
                getSweetsandHotConstants(1)
                }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('TradaitonalHot')">{{
                getSweetsandHotConstants(2)
                }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/specialoffers">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(5)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a (click)="catagory('Non-vegetarianCombo')">{{
                getSpecialConstants(1)
                }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('VegetarianCombo')">{{
                getSpecialConstants(2)
                }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('HotCombo')">{{ getSpecialConstants(3) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a (click)="catagory('SweetsCombo')">{{
                getSpecialConstants(4)
                }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(6)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{
            getHeaderNames(8)
            }}</a>
          <ul class="dropdown-menu">
            <li (click)="drawer.toggle()">
              <a>{{ getSupportConstants(1) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a>{{ getSupportConstants(2) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a>{{ getSupportConstants(3) }}</a>
            </li>
            <li (click)="drawer.toggle()">
              <a [routerLink]="['/supportpage']">{{
                getSupportConstants(4)
                }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div *ngIf="isShow == true" style="width: 100%; margin-left: 2%; margin-top: 1%; margin-bottom: 1%" class="row">
      <span><i class="fa fa-search" style="
            font-weight: 200;
            font-size: large;
            padding: 2%;
            color: rgb(134, 132, 132);
          "></i></span>
      <input class="searchHome" *ngIf="isShow == true" class="col-xs-10" style="
          border-radius: 6px;
          margin-left: 10px;
          font-weight: 300px;
          background-color: rgb(240, 238, 238);
        " (input)="onSearchChange($event.target.value)" placeholder="What Are You Looking For?" />

      <div class="col-xs-1" (click)="toggleDisplay()" style="font-size: large; font-weight: 300px; color: grey">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center" *ngIf="isShow == false">
      <div style="display: flex; align-items: center; margin-left: 5%">
        <div>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon" style="margin-bottom: 1%; color: black">menu</mat-icon>
          </button>
        </div>
        <div>
          <div style="color: black; font-size: large; font-weight: 500" routerLink="">
            SHRIVASAFOODS
          </div>
        </div>
      </div>

      <div style="display: flex; align-items: center; margin-right: 2%">
        <div>
          <div (click)="toggleDisplay()" style="font-size: large; font-weight: 300px; color: grey">
            <i class="fa fa-search"></i>
          </div>
        </div>
       <svg style="font-size: xx-large" *ngIf="!authService.loggedIn()" style="padding-top: 1%"  routerLink="/login"
            width="40" height="26" viewBox="0 0 10.667 16"><g transform="translate(-6 -3)">
             <path d="M15.111,6.556A3.556,3.556,0,1,1,11.556,3,3.556,3.556,0,0,1,15.111,6.556Zm-1.778,0a1.778,1.778,0,1,1-1.778-1.778A1.778,1.778,0,0,1,13.333,6.556Z" transform="translate(-0.222)" fill="#292929" fill-rule="evenodd"></path><path d="M14.889,14.667A.889.889,0,0,0,14,13.778H8.667a.889.889,0,0,0-.889.889V20H6V14.667A2.667,2.667,0,0,1,8.667,12H14a2.667,2.667,0,0,1,2.667,2.667V20H14.889Z" transform="translate(0 -1)" fill="#292929"></path></g></svg>



        <div *ngIf="authService.loggedIn()" style="display: flex; flex-direction: row">
          <p class="btn"  style="font-size: large;" [popover]="popTemplate">
            Hi {{ usernameLogin }}
          </p>

          <ng-template #popTemplate>

              <div class="row">

                <div class="col-xs-6" style="padding-top: 1%;">
                  <i class="fa fa-user-circle-o" routerLink="/profile" style="font-size: xx-large"></i>
                  <p routerLink="/profile" routerLinkActive="router-link-active">
                    My Profile
                  </p>
                </div>
                <div class="col-xs-6" style="padding-top: 1%">
                  <i class="fa fa-user-circle-o" routerLink="/myOrders" style="font-size: xx-large"></i>
                  <p routerLink="/myOrders" routerLinkActive="router-link-active">
                    My orders
                  </p>
                </div>


              </div>
              <div class="row">


                <div class="col-xs-6" style="padding-top: 1%">
                  <i class="fa fa-user-circle-o" routerLink="/aboutUs" style="font-size: xx-large"></i>
                  <p routerLink="/aboutUs" routerLinkActive="router-link-active">
                    About
                  </p>
                </div>
                <div class="col-xs-6" style="padding-top: 1%">
                  <i class="fa fa-user-circle-o" routerLink="/testimonals" style="font-size: xx-large"></i>
                  <p routerLink="/testimonals" routerLinkActive="router-link-active">
                    Testimonal
                  </p>
                </div>


              </div>

              <div class="row">


                <div class="col-xs-6" style="padding-top: 1%">
                  <i class="fa fa-user-circle-o" routerLink="/giftCards" style="font-size: xx-large"></i>
                  <p routerLink="/giftCards">Gift Cards</p>
                </div>
                <div class="col-xs-6" style="padding-top: 1%">
                  <li *ngIf="authService.loggedIn()" style="font-size: xx-large" routerLink="/referFriend"
                    class="fa fa-sign-out"></li>
                  <p *ngIf="authService?.loggedIn()" routerLink="/referFriend ">
                    Refer Friend
                  </p>
                </div>


              </div>
              <div class="row">


                <div class="col-xs-6" style="padding-top: 1%">
                  <i class="fa fa-user-circle-o" routerLink="/blog" style="font-size: xx-large"></i>
                  <p routerLink="/blog" routerLinkActive="router-link-active">
                    Blog
                  </p>
                </div>
              </div>
                <div class="row" *ngIf="authService.getRole() == 'admin'">
                  <hr >
                  <div  class="col-xs-12 btn" [routerLink]="['admin/products']"  style=""  >
                    <p style="font-size: 18px;"  ><span>Products</span> </p>
                  </div>

                </div>

                <div class="row"  *ngIf="authService.getRole() == 'admin'">
                  <hr >
                  <div  class="col-xs-12 btn"  style="" [routerLink]="['admin/addProduct']">
                    <p style="font-size: 18px;"  ><span>Add Product</span> </p>
                  </div>

                </div>

                <div class="row"  *ngIf="authService.getRole() == 'admin'">
                  <hr >
                  <div  class="col-xs-12 btn" style=""  [routerLink]="['admin/']">
                    <p style="font-size: 18px;"  ><span>Order Status</span> </p>
                  </div>

                </div>
                <div class="row"   (click)="onLogoutClick()">
                  <hr   >
                  <div  class="col-xs-12 btn" >
                    <p   style="font-size: 18px;" *ngIf="authService.loggedIn()">Logout {{usernameLogin}}</p>
                  </div>

                </div>



            </ng-template>
          </div>
          </div>
      </div>

    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
