<mat-sidenav-container class="sidenav-container" style="height: 100%">
  <mat-sidenav style="background-color: white;" #drawer class="sidenav" fixedInViewport="false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"   [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink='/' TraditionalPowders>Catagories</mat-toolbar>
    <mat-nav-list class="fundpress-menu" style="background-color: white;">
      <ul class="nav-menu" (click)="drawer.toggle()">
        <li class="dropdown" routerLink="/">
          <a>{{getHeaderNames(1)}}</a>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(2)}}</a>
          <ul class="dropdown-menu">
            <li><a  (click)="catagory(getPicklesConstants(1))" >{{getPicklesConstants(1)}}</a></li>
            <li><a (click)="catagory(getPicklesConstants(2))">{{getPicklesConstants(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(3)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getTraditionalPodulu(1))">{{getTraditionalPodulu(1)}}</a></li>
            <li><a (click)="catagory(getTraditionalPodulu(2))">{{getTraditionalPodulu(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(4)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getSweetsandHotConstants(1))">{{getSweetsandHotConstants(1)}}</a></li>
            <li><a (click)="catagory(getSweetsandHotConstants(2))">{{getSweetsandHotConstants(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/specialoffers">
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(5)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getSpecialConstants(1))">{{getSpecialConstants(1)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(2))">{{getSpecialConstants(2)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(3))">{{getSpecialConstants(3)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(4))">{{getSpecialConstants(4)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/others">
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(6)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getOthersConstants(1))">{{getOthersConstants(1)}}</a></li>
            <li><a (click)="catagory(getOthersConstants(1))">{{getOthersConstants(1)}}</a></li>
            <li><a (click)="catagory(getOthersConstants(1))">{{getOthersConstants(1)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/aboutus">
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(7)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getAboutusConstants(1))">{{getAboutusConstants(1)}}</a></li>
            <li><a (click)="catagory(getAboutusConstants(2))">{{getAboutusConstants(2)}}</a></li>
            <li><a (click)="catagory(getAboutusConstants(3))">{{getAboutusConstants(3)}}</a></li>
            <li><a (click)="catagory(getAboutusConstants(4))">{{getAboutusConstants(4)}}</a></li>
            <li><a (click)="catagory(getAboutusConstants(5))">{{getAboutusConstants(5)}}</a></li>
          </ul>
        </li>
        <!-- <li class="dropdown" routerLink="/support">
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(8)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getSupportConstants(1))">{{getSupportConstants(1)}}</a></li>
            <li><a (click)="catagory()">{{getSupportConstants(2)}}</a></li>
            <li><a (click)="catagory()">{{getSupportConstants(3)}}</a></li>
            <li><a (click)="catagory()">{{getSupportConstants(4)}}</a></li>
          </ul>
        </li> -->
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:white;">
      <div *ngIf="isShow==true" style="width: 100%;margin-top: 1%;margin-left: 5%;margin-bottom: 1%" class="row">
        <p *ngIf="isShow == true" class="col-xs-10"
          style="border-radius: 6px;font-weight: 300px  ;  background-color: rgb(240, 238, 238);">
          <span><i class="fa fa-search" routerLink="/login" style="
              font-weight: 200;
              font-size: large;

              padding: 2%;

              color: rgb(134, 132, 132);
            "></i></span>
        </p>
        <p class="col-xs-2" (click)=toggleDisplay() style="padding-left: 2%;font-weight: 300px;color: grey;">
          <i class="fa fa-times"></i>
        </p>
      </div>
      <div *ngIf="isShow == false" style="width: 100%;margin-top: 1%;margin-bottom: 1%" class="row">


        <button class="col-xs-3" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon" style="color: black;">menu</mat-icon>
        </button>
        <div class="col-xs-3">
          <p style="color: black;margin-top: 1%;padding-right: 5%;font-size: large;font-weight:500;" routerLink="">
            SHRIVASAFOODS</p>
        </div>

        <div class="col-xs-3"></div>
        <p class="col-xs-1" (click)=toggleDisplay() style="padding-left: 2%;font-weight: 300px;color: grey;">
          <i class="fa fa-search"></i>
        </p>

        <div  class="col-xs-2" *ngIf="authService.loggedIn()"  style="display: flex;flex-direction: row;padding-top: 1%;">
          <p *ngIf="authService.loggedIn()" style="font-size: large;padding-top: 5%;">Hi {{usernameLogin}}</p>
          <i class="fa fa-cog" style="font-size: xx-large" [popover]="popTemplate"  popoverTitle=Hi{{username}}
                ></i>
            <div>
              <ng-template #popTemplate>

  <div class="row">
    <div class="col-lg-6">
      <div style="padding-top: 1%;">
        <i class="fa fa-user-circle-o" routerLink="/myOrders" style="font-size: xx-large"></i>
        <p routerLink='/myOrders' routerLinkActive="router-link-active">My orders </p>
      </div>
      <div style="padding-top: 1%;">
        <i class="fa fa-user-circle-o" routerLink="/support" style="font-size: xx-large"></i>
        <p routerLink='/support' routerLinkActive="router-link-active">Support </p>
      </div>

    </div>
    <div class="col-lg-6">
      <div style="padding-top: 1%;">
        <i class="fa fa-user-circle-o" routerLink="/admin" style="font-size: xx-large"></i>
        <p routerLink='/admin' routerLinkActive="router-link-active">Admin </p>
      </div>
      <div style="padding-top: 1%;">
        <li *ngIf="authService.loggedIn()" style="font-size: xx-large" (click)="onLogoutClick()" class="fa fa-sign-out">
        </li>
        <p *ngIf="authService.loggedIn()">Logout</p>
      </div>
    </div>

    </div>

              </ng-template>
            </div>

  </div>



        <i class="col-xs-2" *ngIf="!authService.loggedIn()" class="fa fa-user-circle-o" routerLink="/login"
          style="color: gray;font-size: xx-large;"></i>
      </div>


    </mat-toolbar>
    <ng-content>

    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
