.sidenav-container{
  height: 100%;
  background-color: white;
  overflow-x: hidden; overflow-y: auto;
}
.mydivclass {overflow-x: hidden; overflow-y: auto;}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.popover-body {
  padding: 0px ;
   min-width: 300px;
  color: #212529;
}
.sidenav{
  width: 400px;
  // box-shadow: rgb(199, 199, 199);
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.nav-menu>li.active>a, .nav-menu>li.focus>a, .nav-menu>li:hover>a {
color: green;
font-weight: lighter;
}
.fundpress-menu .nav-menu li a {
  padding: 18px 10px;
  text-transform: uppercase;


  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background-color: white;
  padding-left: 20px;
  transition: color 0.2s ease 0s;

}
.fundpress-menu .nav-menu li a:before {
  background-color: green;
}
.nav-menu>li>a {
  height: 50%;
  width: 100%;
}
.dropdown-toggle::after {
  display: flex;
  margin-left: 250px;

}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  padding: 0 16px;
  width: 100%;
 color: black;
  flex-direction: row;

}
.dropdown-menu{
width: 100%;
}
.mat-toolbar {
  border-color: white;
  background-color: rgb(230, 227, 227);
}
