<div style="min-height: 500px;">

  <div class="col-lg-7" style="padding-top:5%;;background-color: #ffffff">
    <p style="font-size: large;font-weight: bold;padding-left: 5%;">Shirivas Store</p>
    <div style="display: flex;flex-direction: row;justify-content: space-around;padding-left: 5%;">
      <p>Contact Information</p>
      <p>Already have an account ?<span class="text text-primary btn" [routerLink]="['/login']"
          routerLinkActive="router-link-active">Login</span> </p>
    </div>
    <div   *ngIf="deviceXs || deviceSm" class="row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-10 col-xs-12 col-sm-12">
        <mat-vertical-stepper [linear]="isLinear" #stepper>

          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Information</ng-template>
              <mat-form-field>
                <mat-label>Email or Phone number</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <p style="font-size: large;">Shipping Adress</p>
              <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="fname">
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lname">
                </mat-form-field>
              </div>
              <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <mat-form-field>
                  <mat-label>Adress</mat-label>
                  <input matInput formControlName="adress">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </div>
              <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <mat-form-field>
                  <mat-label>Contry</mat-label>
                  <input matInput formControlName="contry">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="code">
                </mat-form-field>
              </div>
              <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="padding-right: 4%;">
                <label style="margin-left: 3%;">Save details for next time</label>
              </div>

              <div style="text-align: right;padding-top: 5%;">
                <button class="btn btn-primary" matStepperNext>Continue to Shipping</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Shipping</ng-template>
              <div
                style="border: 1px;border-style: groove;padding: 1%;margin-top: 2%;border-radius: 6px;border-color: rgb(160, 158, 158);">
                <div class="row" style="height: 10px;">
                  <p class="col-3">Contact</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.email}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>
                </div>
                <hr />
                <div class="row" style="height: 10px;">
                  <p class="col-3">Shipping Adress</p>
                  <mat-label class="col-6">{{useAdress}}</mat-label>
                  <p class="col-3 text-primary btn">Change</p>
                </div>
              </div>

              <div style="margin: 3%;">
                <label>Shipping Method</label>
                <div class="row"
                  style="border: 1px;border-style: groove;padding-left: 3%;border-radius: 6px;border-color: rgb(145, 141, 141);">
                  <input class="col-3" type="checkbox" class="form-check-input" id="exampleCheck2">
                  <div class="col-6"></div>
                  <mat-label class="col-3">Standard</mat-label>
                </div>
              </div>

              <div class="row">
                <button class="col-2 btn text-primary" matStepperPrevious>
                </button>
                <div class="col-8">
                </div>
                <button class="col-2 btn btn-primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Paymemt</ng-template>
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
              <div class="row">

                <button class="col-2 btn text-primary" matStepperPrevious>Back</button>
                <div class="col-8">
                </div>

                <button class="col-2 btn btn-primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>

            <mat-list>
              <div style="border: 1px;padding: 1%;
          margin-top: 2%;">
                <div class="row" style="height: 10px;">
                  <p class="col-3">Name</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.fname}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />
                <div class="row" style="height: 10px;">
                  <p class="col-3">Email</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.email}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Adress</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.adress}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Contact</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.contact}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Shipping Method:</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.method}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(1)">Change</p>

                </div>
                <hr />

              </div>


            </mat-list>

            <div class="row">

              <button class="col-2 btn text-primary" matStepperPrevious>Back

              </button>
              <div class="col-8">
              </div>

              <button class="btn btn-primary" style="margin:1%;" (click)="order()">Submit</button>
            </div>

          </mat-step>
        </mat-vertical-stepper>
      </div>
      <div class="col-lg-1"></div>
    </div>

    <div *ngIf="deviceMd || deviceLg" class="row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-10 col-xs-12 col-sm-12">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>

          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Information</ng-template>
              <mat-form-field>
                <mat-label>Email or Phone number</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <p style="font-size: large;">Shipping Adress</p>
              <div class="row">
                <mat-form-field class="col-xs-6">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="fname">
                </mat-form-field>
                <mat-form-field class="col-xs-6">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lname">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-xs-6">
                  <mat-label>Adress</mat-label>
                  <input matInput formControlName="adress">
                </mat-form-field>
                <mat-form-field class="col-xs-6">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-xs-6">
                  <mat-label>Contry</mat-label>
                  <input matInput formControlName="contry">
                </mat-form-field>
                <mat-form-field class="col-xs-6">
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="code">
                </mat-form-field>
              </div>
              <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="padding-right: 4%;">
                <label style="margin-left: 8%;">Save details for next time</label>
              </div>

              <div style="text-align: right;padding-top: 5%;">
                <button class="btn btn-primary" matStepperNext>Continue to Shipping</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Shipping</ng-template>
              <div
                style="padding: 1%;margin-top: 2%;border-radius: 6px;">
                <div class="row" style="height: 5px;">
                  <p class="col-xs-4">Contact</p>
                  <mat-label class="col-xs-4">{{this.firstFormGroup.value.email}}</mat-label>
                  <p class="col-xs-4 text-primary btn" (click)="move(0)">Change</p>
                </div>

                <div class="row" style="height: 5px;">
                  <p class="col-xs-4">Shipping Adress</p>
                  <mat-label class="col-xs-4">useAdress</mat-label>
                  <p class="col-xs-4 text-primary btn">Change</p>
                </div>
                <hr />
                <label >Shipping Method</label>

                <div class="row" style="height: 5px;">
               <div class="col-xs-4">

                  <input  type="checkbox" class="form-check-input" id="exampleCheck2">
                </div>
                    <mat-label class="col-xs-4">Standard</mat-label>
                    <p class="col-xs-4 text-primary btn">Change</p>

                  </div>

              </div>


              <div class="row">
                <button class="col-xs-4 btn text-primary" matStepperPrevious>
                </button>
                <div class="col-xs-4">
                </div>
                <button class="col-xs-4 btn btn-primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Paymemt</ng-template>
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
              <div class="row">

                <button class="col-2 btn text-primary" matStepperPrevious>Back</button>
                <div class="col-8">
                </div>

                <button class="col-2 btn btn-primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>

            <mat-list>
              <div style="border: 1px;padding: 1%;
          margin-top: 2%;">
                <div class="row" style="height: 10px;">
                  <p class="col-3">Name</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.fname}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />
                <div class="row" style="height: 10px;">
                  <p class="col-3">Email</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.email}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Adress</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.adress}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Contact</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.contact}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(0)">Change</p>

                </div>
                <hr />

                <div class="row" style="height: 10px;">
                  <p class="col-3">Shipping Method:</p>
                  <mat-label class="col-6">{{this.firstFormGroup.value.method}}</mat-label>
                  <p class="col-3 text-primary btn" (click)="move(1)">Change</p>

                </div>
                <hr />

              </div>


            </mat-list>

            <div class="row">

              <button class="col-2 btn text-primary" matStepperPrevious>Back

              </button>
              <div class="col-8">
              </div>

              <button class="btn btn-primary" style="margin:1%;" (click)="order()">Submit</button>
            </div>

          </mat-step>
        </mat-horizontal-stepper>
      </div>
      <div class="col-lg-1"></div>
    </div>

  </div>


  <div class="col-lg-5" style="padding-top: 5%;padding-bottom: 5%;min-height: 700px;background-color: #f3f3f3;">
    <div style="padding-left:7%;padding-right: 7%;padding-top: 5%;padding-bottom: 5%;">

      <div *ngFor="let item of cartItems">

        <div>
          <div class="row" style="width: 100%;">
            <div class="col-xs-4">
              <div>
                <img [src]='getImage(item.productImage)' style="width: 50%;">
              </div>
            </div>
            <div class="col-xs-8"
              style="display: flex;flex-direction: row;justify-content: space-between;min-width: 30px;">
              <div>
                <p>{{item.name}}</p>
              </div>
              <div>
                <p style="font-weight: 500;"> ${{item.unitTotal}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <hr class="hr" style="background-color: grey;height: 2px;width: 100%;">
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <p>Subtotal</p>
          <p style="font-weight: 500;">${{getTotal}}</p>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">

          <p>Shipping</p>
          <p style="font-weight: 500;">Calculated at next step</p>

        </div>
        <hr class="hr" style="background-color: grey;height: 2px;width: 100%;">
      </div>

      <div style="display: flex;flex-direction: row;justify-content: space-between;">

        <p>Total</p>
        <p style="font-weight: 500;">${{getTotal}}</p>
      </div>
<div>
  <label>You Can use your bonus to get 10% Discount</label>
  <button (click)="useBonus()">Use Bonus</button>
  <p>You have <span > {{accountBonus}}</span> Bonus Remaining</p>

</div>
    </div>
  </div>


</div>
