<div style="background-color:rgb(240, 236, 236) ;padding-bottom: 2.5%;">
<div style="padding-top: 2.5%;padding-left: 2.5%;padding-right: 2.5%;border-radius: 6px;">

  <p class="text-block1"  >Vegetables</p>
  <div style="height: 20%;">
  <img class="img-responsive gradient" style="width: 100%;;object-fit:cove
  r;border-radius: 6px;" src="../assets/images/veg.jpg">
</div>
</div>
<div style="border-radius: 6px;margin:2%;background-color: white;">
  <div *ngIf="deviceLg || deviceMd" class="deviceLg">

   <div *ngFor="let item of products" (click)="addProduct(item)" style="padding:2%;width: 20%;" >
     <div style="text-align: right;">
     <button class="btn" ><i class="glyphicon glyphicon-shopping-cart"></i></button>
   </div>
   <div  >
     <img class="img-responsive"  src={{item.image}}>
   </div>
     <p style="font-weight: bold;">{{item.price}}</p>
     <p  ></p>
   </div>

 </div>
 <div *ngIf="deviceXs || deviceSm" >
   <div class="row">
     <div  style="display:flex;flex-direction: row;flex-wrap: wrap;flex: 2;justify-content: space-evenly;">


       <div *ngFor="let item of products" style="padding:2%;width: 40%;" >
         <div style="text-align: right;">
         <button class="btn" ><i class="glyphicon glyphicon-shopping-cart"></i></button>
       </div>
       <div  >
         <img class="img-responsive"  src={{item.image}}>
       </div>
         <p style="font-weight: bold;">{{item.price}}</p>
         <p  ></p>
       </div>
     </div>

   </div>


 </div>
 </div>
</div>
