<div class="container-fluid" style="margin-top: 10%;" style="background-color: rgb(253, 251, 251);min-height: 400px;">
  <hr>

  <div style="margin: 2%;min-height: 500px;">
    <mat-tab-group>
      <mat-tab label="My Orders" class="container-fluid">


        <div *ngIf="allOrders.length == 0" style="text-align: center;padding: 10%;min-height: 300px;">
          <p>No Orders</p>
        </div>
        <div *ngIf="deviceLg && allOrders.length !== 0 || deviceMd && allOrders.length !== 0">

          <div class="row" style="margin:1%">
            <div class="col-1">
              <p style="font-size: large;">Order No</p>
            </div>
            <div style="display: flex;flex-direction: row;" class="col-2">
              <p style="font-size: large;"   >Order Date</p>
              <span (click)="setOrder('date', false)"> ▼</span>
              <span (click)="setOrder('date', true)"> ▲</span>

            </div>
            <div style="display: flex;flex-direction: row;" class="col-2">
              <p style="font-size: large;" >Order Total</p>
              <span (click)="setOrder('total', false)"> ▼</span>
              <span (click)="setOrder('total', true)"> ▲</span>
            </div>
            <div class="col-2">
              <p style="font-size: large;">Order Status</p>

            </div>
          </div>
         <div class="cartHeight">

          <div *ngFor="let item of allOrders | orderBy: orderBy : reverse  |  paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <div class="row panel-title" style="margin:1%;padding-top: 3px;border-radius: 12px;background-color: #b4d469;">
              <div class="col-1" style="padding-top: 15px;">
                <p>{{i + 1 }}</p>
              </div>

              <div class="col-2" style="padding-top: 15px;">
                <p>{{item.date}}</p>
              </div>

              <div class="col-2" style="padding-top: 15px;">
                <p>{{item?.total}}</p>
              </div>

              <div class="col-2" style="padding-top: 15px;">
                <p>{{item?.phase}}</p>
              </div>



                <div class="col-1" style="padding-top: 8px;">
                  <a class="btn btn-primary" style="color: white;" data-toggle="collapse" href="#{{item._id}}"
                    role="button" aria-expanded="false" aria-controls="{{item._id}}">
                    Details
                  </a>


                </div>
                <div class="col-1" style="padding-top: 8px;">
                  <p class="  btn  green-btn" style="color: white;" (click)="pdfDownload(item)">Download</p>
                </div>

                <div class="col-1"  *ngIf="item.phase !== 'canceled'" style="padding-top: 5px;">
                  <a class="btn btn-primary" style="color: white;" data-toggle="collapse" href="#{{i}}"
                    role="button" aria-expanded="false" aria-controls="{{i}}">
                    Status
                  </a>
                </div>
                <div class="col-1" *ngIf="item.phase == 'canceled'" style="padding-top: 15px;">
                  <a class="text text-danger" >
                  Canceled
                  </a>
              </div>
                <div class="col-1" style="padding-top: 8px;">
                  <a class="btn btn-danger" (click)="orderCancel(item._id)"
                    role="button" aria-expanded="false" aria-controls="{{i}}">
                    Cancel Order
                  </a>
                </div>
              </div>

            <div class="collapse " id="{{i}}"
              >
              <div style="min-height: 80px;height: 80px;padding: 1%;">
                <div class="row multi-steps-wrap">
                  <ul class="list-unstyled multi-steps">
                    <li  [ngClass]="(item.phase === 'processing' || item.phase === 'packed' ||  item.phase === 'shipped' ||  item.phase === 'delivered' ) ? '' : 'negative'">processing</li>
                    <li  [ngClass]="(item.phase === 'packed' ||  item.phase === 'shipped' ||  item.phase === 'delivered' )  ? '' : 'negative'">
                      Packed
                    </li>
                    <li  [ngClass]="( item.phase === 'shipped'  ||  item.phase === 'delivered' ) ? '' : 'negative'">Shipped</li>
                    <li  [ngClass]="( item.phase === 'delivered')  ? '' : 'negative'">Delivered</li>

                  </ul>
                </div>
              </div>
            </div>


            <div class="collapse" id="{{item._id}}" style="padding-top: 1%;margin-left: 1%;margin-right: 1%;">
              <div class="row">

                <div class="col-xs-12">


                  <div *ngFor="let item of item.cartData">

                    <div class="row">
                      <div class="col-2"></div>

                      <div class="col-2">
                        <div class="container" style="height: 100px; width: 120px">
                          <div >
                            <img class="image"  style="width: 120px; height: 100px;" [src]="getImage(item.productImage)" />
                          </div>

                        </div>
                      </div>
                      <div class="col-2">
                        <div>
                          <p>{{item.details}}</p>
                        </div>
                        <div>
                          <div style="font-size: small;"> Unit price {{item.price}}</div>
                          <div style="font-size: small;">Total Units {{item.productCount}}</div>
                        </div>
                      </div>
                      <div class="col-2" style="padding-top: 2%;">
                        <span style="font-weight: 500;font-size: small;">total price {{item.unitTotal}}</span>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <hr style="margin: 0px;color: grey;">
                  </div>
                </div>

              </div>


            </div>


          </div>
        </div>
        </div>



        <div *ngIf="deviceSm && allOrders.length !== 0 || deviceXs && allOrders.length !== 0">

             <div class="row" style="margin:1%">
            <div class="col-xs-3">
              <p style="font-size: large;">Order No</p>
            </div>
            <div style="display: flex;flex-direction: row;" class="col-xs-3">
              <p style="font-size: large;"   >Order Date</p>
              <span (click)="setOrder('date', false)"> ▼</span>
              <span (click)="setOrder('date', true)"> ▲</span>

            </div>
            <div style="display: flex;flex-direction: row;" class="col-xs-3">
              <p style="font-size: large;" >Order Total</p>
              <span (click)="setOrder('total', false)"> ▼</span>
              <span (click)="setOrder('total', true)"> ▲</span>
            </div>
            <div class="col-xs-3">
              <p style="font-size: large;">Order Status</p>

            </div>
          </div>
       <div class="cartHeight">
          <div *ngFor="let item of allOrders | orderBy: orderBy : reverse  |  paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <div class="row"  style="margin:1%;padding-top: 3px;border-radius: 12px;background-color: #b4d469;">

              <div class="col-xs-3" style="padding-top: 15px;">
                <p style="font-size: 16px;">{{i + 1 }}</p>
              </div>
              <div class="col-xs-3" style="padding-top: 15px;">

                <p style="font-size: 16px;">{{item.date}}</p>
              </div>
              <div class="col-xs-3" style="padding-top: 15px;">

                <p style="font-size: 16px;">{{item?.total}}</p>
              </div>

              <div class="col-xs-3" style="padding-top: 15px;">

                <p style="font-size: 16px;">{{item.phase}}</p>
              </div>

              <div class="row" style="width: 100%;display: flex;flex-direction: row;justify-content: space-between;">

                <div style="padding-bottom: 5px;">
                  <a class="btn btn-primary" style="color: white;width: 200%;" data-toggle="collapse" href="#{{item._id}}"
                    role="button" aria-expanded="false" aria-controls="{{item._id}}">
                    Details
                  </a>


                </div>
                <div style="padding-bottom: 5px;">
                  <a class="btn btn-primary" style="color: white;width: 200%;" data-toggle="collapse" href="#{{i}}"
                    role="button" aria-expanded="false" aria-controls="{{i}}">
                    Status
                  </a>
                </div>
              </div>
            </div>

            <div class="collapse container-fluid" id="{{i}}"
            style="min-height: 80px;height: 80px;padding: 1%;">

                <div class="row multi-steps-wrap">
                  <ul class="list-unstyled multi-steps">
                    <li class="job-status" [ngClass]="item.status === 'processing' ? 'job-created' : ''">processing</li>
                    <li class="job-status is-active negative" [ngClass]="item.status === 'packed' ? 'job-packed' : ''">
                      Packed</li>
                    <li class="job-status" [ngClass]="item.status === 'shipped' ? 'job-completed' : ''">Shipped</li>
                    <li class="job-status" [ngClass]="item.status === 'delivered' ? 'job-closed' : ''">Delivered</li>

                  </ul>
                </div>
              </div>


            <div class="collapse" id="{{item._id}}" style="padding-top: 1%;margin-left: 1%;margin-right: 1%;">
              <div class="row">

                <div class="col-xs-12">


             <div *ngFor="let item of item.cartData">

                    <div class="row">
                      <div class="col-1"></div>

                      <div class="col-2">
                        <div class="container" style="height: 100px; width: 120px">
                          <div >
                            <img class="image"  style="width: 120px; height: 100px;" [src]="getImage(item.productImage)" />
                          </div>

                        </div>
                      </div>
                     <div class="col-2"></div>
                      <div class="col-2">
                        <div>
                          <p>{{item.details}}</p>
                        </div>
                        <div>
                          <div style="font-size: small;"> Unit price {{item.price}}</div>
                          <div style="font-size: small;">Total Units {{item.productCount}}</div>
                        </div>
                      </div>
                      <div class="col-2" style="padding-top: 2%;">
                        <span style="font-weight: 500;font-size: small;">total price {{item.unitTotal}}</span>
                      </div>
                      <div class="col-1"></div>
                    </div>
                    <hr style="margin: 0px;color: grey;">
                  </div>






                </div>

              </div>


            </div>


          </div>
        </div>
        </div>


        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </mat-tab>
      <mat-tab label="Canceled Orders">

        <div *ngIf="canceledOrders.length == 0" style="text-align: center;padding: 10%;min-height: 300px;">
          <p>No Canceled Orders</p>
        </div>

         <div *ngIf="deviceLg && canceledOrders.length !== 0 || deviceMd && canceledOrders.length !== 0">

          <div class="row" style="margin:1%">
            <div class="col-1">
              <p style="font-size: large;">Order No</p>
            </div>
            <div class="col-1">
              <p style="font-size: large;">Order Date</p>
            </div>
            <div class="col-1">
              <p style="font-size: large;">Order Total</p>

            </div>

          </div>

          <div *ngFor="let item of canceledOrders">
            <div class="row"  style="margin:1%;height: 50px;border-radius: 12px;background-color: #e2714e;">


              <div class="col-1" style="padding-top: 15px;">

                <p>{{item.date}}</p>
              </div>
              <div class="col-1" style="padding-top: 15px;">

                <p>{{item?.total}}</p>
              </div>


              <div class="col-8" style="padding-top: 15px;">

              </div>

              <div class="col-2" style="padding-top: 5px;">
                <a class="btn btn-primary" style="color: white;" data-toggle="collapse" href="#{{item._id}}"
                  role="button" aria-expanded="false" aria-controls="{{item._id}}">
                  Details
                </a>


              </div>


            </div>

            <div class="collapse container-fluid" id="{{item._id}}"
            style="min-height: 80px;height: 80px;padding: 1%;">
                <div class="row multi-steps-wrap">
                  <ul class="list-unstyled multi-steps">
                    <li class="job-status" [ngClass]="item.status === 'processing' ? 'job-created' : ''">processing</li>
                    <li class="job-status is-active negative" [ngClass]="item.status === 'packed' ? 'job-packed' : ''">
                      Packed</li>
                    <li class="job-status" [ngClass]="item.status === 'shipped' ? 'job-completed' : ''">Shipped</li>
                    <li class="job-status" [ngClass]="item.status === 'delivered' ? 'job-closed' : ''">Delivered</li>

                  </ul>
                </div>
              </div>


            <div class="collapse" id="{{item._id}}" style="padding-top: 1%;margin-left: 1%;margin-right: 1%;">
              <div class="row">

                <div class="col-xs-12">


                  <div *ngFor="let item of item.cartData">

                    <div class="row">
                      <div class="col-2"></div>

                      <div class="col-2">
                        <div class="container" style="height: 100px; width: 120px">
                          <div >
                            <img class="image"  style="width: 120px; height: 100px;" [src]="getImage(item.productImage)" />
                          </div>

                        </div>
                      </div>
                      <div class="col-2">
                        <div>
                          <p>{{item.details}}</p>
                        </div>
                        <div>
                          <div style="font-size: small;"> Unit price {{item.price}}</div>
                          <div style="font-size: small;">Total Units {{item.productCount}}</div>
                        </div>
                      </div>
                      <div class="col-2" style="padding-top: 2%;">
                        <span style="font-weight: 500;font-size: small;">total price {{item.unitTotal}}</span>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <hr style="margin: 0px;color: grey;">
                  </div>
                </div>

              </div>


            </div>


          </div>

        </div>

         <div *ngIf="deviceXs || deviceSm">
          <div class="row" style="margin:1%">

            <div class="col-xs-3">
              <p style="font-size: large;">Order Date</p>
            </div>
            <div class="col-xs-3">
              <p style="font-size: large;">Order Total</p>

            </div>


          </div>
          <div *ngFor="let item of canceledOrders">
            <div class="row"  style="margin:1%;padding-top: 3px;border-radius: 12px;background-color: #d48269;">


              <div class="col-xs-3" style="padding-top: 15px;">

                <p style="font-size: 16px;">{{item.date}}</p>
              </div>
              <div class="col-xs-3" style="padding-top: 15px;">

                <p style="font-size: 16px;">{{item?.total}}</p>
              </div>
         <div class="col-xs-3"></div>

              <div class="col-xs-3" style="padding-top: 5px;">


                  <a class="btn btn-primary" style="color: white;" data-toggle="collapse" href="#{{item._id}}"
                    role="button" aria-expanded="false" aria-controls="{{item._id}}">
                    Details
                  </a>




              </div>
            </div>

            <div class="collapse container-fluid" id="{{item._id}}"
            style="min-height: 80px;height: 80px;padding: 1%;">
              <div >
                <div class="row multi-steps-wrap">
                  <ul class="list-unstyled multi-steps">
                    <li class="job-status" [ngClass]="item.status === 'processing' ? 'job-created' : ''">processing</li>
                    <li class="job-status is-active negative" [ngClass]="item.status === 'packed' ? 'job-packed' : ''">
                      Packed</li>
                    <li class="job-status" [ngClass]="item.status === 'shipped' ? 'job-completed' : ''">Shipped</li>
                    <li class="job-status" [ngClass]="item.status === 'delivered' ? 'job-closed' : ''">Delivered</li>

                  </ul>
                </div>
              </div>
            </div>


            <div class="collapse" id="{{item._id}}" style="padding-top: 1%;margin-left: 1%;margin-right: 1%;">
              <div class="row">

                <div class="col-xs-12">


                  <div *ngFor="let item of item.cartData">

                    <div class="row">
                      <div class="col-1"></div>

                      <div class="col-2">
                        <div class="container" style="height: 100px; width: 120px">
                          <div >
                            <img class="image"  style="width: 120px; height: 100px;" [src]="getImage(item.productImage)" />
                          </div>

                        </div>
                      </div>
                     <div class="col-2"></div>
                      <div class="col-2">
                        <div>
                          <p>{{item.details}}</p>
                        </div>
                        <div>
                          <div style="font-size: small;"> Unit price {{item.price}}</div>
                          <div style="font-size: small;">Total Units {{item.productCount}}</div>
                        </div>
                      </div>
                      <div class="col-2" style="padding-top: 2%;">
                        <span style="font-weight: 500;font-size: small;">total price {{item.unitTotal}}</span>
                      </div>
                      <div class="col-1"></div>
                    </div>
                    <hr style="margin: 0px;color: grey;">
                  </div>
                </div>

              </div>


            </div>


          </div>

        </div>


      </mat-tab>

    </mat-tab-group>
  </div>

</div>



