

<div  style="margin-top: 10%;" style="background-color: rgb(253, 251, 251);">
  <hr>
  <h1 style="text-align: center;font-weight: bold;">My Orders </h1>
 <div >
    <div class="row" style="margin:1%">
    <div class="col-lg-2">
   <p style="font-size: large;">Order No #</p>
    </div>
    <div class="col-lg-2">
   <p style="font-size: large;">Order Date</p>
      </div>
      <div class="col-lg-2">
     <p style="font-size: large;">Order Total</p>

    </div>
        <div class="col-lg-2">
          <p style="font-size: large;">Order Status</p>

          </div>

    </div>

  <div  *ngFor="let item of allOrders">
    <div class="row"   style="border:1px;border-style: groove;margin:1%;padding-top: 3px;">
    <div class="col-lg-2" >

    <p  >1#</p>
  </div>

  <div class="col-lg-2">

    <p  >{{item.date}}</p>
  </div>
  <div class="col-lg-2">

    <p  >{{item?.total}}</p>
  </div>

  <div class="col-lg-2">

    <p  >start phase</p>
  </div>
  <div class="col-lg-1">

    <p     class="  btn  green-btn"  style="color: white;">Complete Order</p>
  </div>


</div>
</div>

  </div>
</div>
