.text-block1 {
  position: absolute;
  color: white;
  padding-top: 9%;
  padding-left: 40%;
  font-size: 2vw;
  margin-bottom: 12px;
  font-weight: 500;
}
.deviceXs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex:1
}
.deviceLg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   flex-wrap: wrap;
}
.gradient{
  background-color:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.text-block1Footer {
  position: absolute;

  padding-top: 6%;
  padding-left: 5%;
  font-size: 3vw;
  margin-bottom: 12px;
}.text-block2Footer {
  position: absolute;
  font-size: medium;
  padding-top: 12%;
  padding-left: 5%;


}
.text-block3Footer {
  position: absolute;
  background-color:white;
  font-weight: bold;
  margin-top: 18%;
  color: black;
  font-weight: 700;
  margin-left: 5%;
  font-size: 1vw;
  padding-top: 12px;
  text-align: center;
  height: large;
  width: 10vw;
  border-radius: 6px;
}
.block {
  position: absolute;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
  padding-left: 20px;
  padding-right: 20px;
}
.text-block {
  color: white;
  font-size: 38px;
}
.text-blockFooter{
font-size: 32px;
}
.text-block-large {
  color: white;
  font-size: 40px;
}

.text-block-small {
  color: white;
  font-size: 18px;
}
.text-block-btn {
  width: 35%;
  font-weight: bold;
  min-width: 30%;
  font-size: small;
  text-align: center;

  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
}
.text-block1Slider {
  position: absolute;


  padding-top: 10%;
  padding-left: 5%;
  // font-size: 3vw;
  margin-bottom: 12px;
}.text-block2Slider {
  position: absolute;

  padding-top: 20%;
  padding-left: 5%;
  // font-size: 1vw;

}
.text-block3Slider {
  position: absolute;
  background-color:white;

  font-weight: bold;
  margin-top: 25%;
  margin-left: 5%;
  left: 5%;
  font-size: small;
  padding-top: 12px;
  text-align: center;
  height: 3vw;
  width: 10vw;
  border-radius: 6px;
}
