<div style="margin:5%">
  <div class="row">
    <div class="col-lg-6">
      <div style="display: flex;flex-direction: row;justify-content: space-evenly;">
        <div >

          <div
            style="margin: 4%;width: 300px;height: 250px;border-radius: 5px;min-width: 200px;min-height: 220px;border:2px;border-style: groove;">
             <img style="width: 300px;height:220px;min-width: 200px;min-height: 220px;;"
              [src]='getImage(data.multipleImages[0])'>
          </div>
          <div
            style="margin: 4%;width: 300px;height: 250px;border-radius: 5px;min-width: 200px;min-height: 220px;border:2px;border-style: groove;">
             <img style="width: 300px;height:220px;min-width: 200px;min-height: 220px;;"
              [src]='getImage(data.multipleImages[1])'>
          </div>
          </div>
        <div>
          <div
          style="margin: 4%;width: 300px;height: 250px;border-radius: 5px;min-width: 200px;min-height: 220px;border:2px;border-style: groove;">
           <img style="width: 300px;height:220px;min-width: 200px;min-height: 220px;;"
            [src]='getImage(data.multipleImages[2])'>
        </div>
        <div
        style="margin: 4%;width: 300px;height: 250px;border-radius: 5px;min-width: 200px;min-height: 220px;border:2px;border-style: groove;">
         <img style="width: 300px;height:220px;min-width: 200px;min-height: 220px;;"
          [src]='getImage(data.multipleImages[3])'>
      </div>
     </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div style="margin-top: 5%;display: flex;flex-direction: column;justify-content: space-between;">
        <div style="margin-top: 2%;">
          <p style="font-size: larger;font-weight: 500;"><span style="font-weight: bold;font-size: 18px;"> Title :
            </span>{{data.name}}</p>
        </div>
        <div style="margin-top: 2%;">
          <p style="font-size: larger;font-weight: 500;"><span style="font-weight: bold;font-size: 18px;"> Grams :
            </span>{{data.grams}}</p>
        </div>

        <div style="margin-top: 2%;">
          <div style="float:left;font-size: larger;font-weight: 500;"><span
              style="font-weight: bold;font-size: 18px;">Price :</span>{{data.price}}$</div>
          <div style="float:right;margin-right:20%;">
            <button (click)="addProduct()" class="btn"
              style=" width: 140px;height: 50px;background-color: rgb(63, 61, 61); color: whitesmoke">
              <span style="font-weight: bold;">Add To Cart</span></button>
          </div>
        </div>


        <hr>
        <h3 style="padding-bottom: 5%;word-wrap: break-word;">{{data.detail}}</h3>
      </div>
      <p style="margin-right:5%;font-size: 20px;font-weight: bold;">Ingredients :</p>

      <div *ngFor="let item of ingredients" style="margin-bottom: 1%;margin: 2%;display: flex; flex-direction: row;">

          <p class="btn" style="border:2px;border-style: groove;">
            {{item}}</p>
          </div>
      <div style="display: flex; flex-direction: row;margin-top: 5%;">
        <p style="margin-right:5%;font-size: larger;">Share on :</p>
        <button>Facebook</button>
        <button>Twiter</button>
        <button>Linkedin</button>
      </div>
    </div>
  </div>

  <div style="border-radius: 6px;margin: 2.5%;background-color: white;">
    <p style="font-weight: bold;font-size: 1.5vw; "> Related Products</p>



      <div *ngIf="deviceLg || deviceMd" class="deviceLg" >
        <div class="card" routerLinkActive="router-link-active" *ngFor="let item of relatedProducts" style="
            padding: 1%;
            background-color: white;
            margin: 1%;
          ">
          <app-mainPage-listItem [item]="item"></app-mainPage-listItem>

        </div>
      </div>
      <div *ngIf="deviceXs || deviceSm">
        <div class="row">
          <div style="
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              flex: 2;
              justify-content: space-evenly;
            ">
            <div class="card" *ngFor="let item of relatedProducts" style="
                padding: 2%;
                background-color: white;
                margin: 2%;
              ">
              <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- <div *ngIf="deviceXs || deviceSm">
      <div class="row">
        <div style="display:flex;flex-direction: row;justify-content: space-evenly;">


          <div style="padding:2%">
            <div style="text-align: right;">
              <button class="btn"><i class="glyphicon glyphicon-shopping-cart"></i></button>
            </div>
            <div style="width: 17vw">
              <img class="img-responsive" src="../assets/images/trend2.jpg">
            </div>
            <p style="font-weight: bold;">12$</p>
            <p> Twix 30g</p>
          </div>



      </div>


    </div>
  </div> -->

</div>
<div class="row" style="margin: 1%">
  <div class="container-fluid" style="width: 100%; padding-top: 2%">
    <div *ngIf="deviceLg || deviceMd" class="block" style="padding-top: 5%">
      <div>
        <p style="color: black; padding-bottom: 5%; font-size: 40px">
          Fast, Free Shipping<br />
        </p>
        <p style="color: black; padding-bottom: 10%; font-size: 40px">
          Contactless Delivery.
        </p>
      </div>
      <p style="color: black; padding-bottom: 10%; font-size: 20px">
        Try it now, risk free!
      </p>
      <button class="btn" style="background-color: #ffffff; width: 40%; height: 35px">
        <span style="font-weight: bold"> Order Now </span>
      </button>
    </div>
    <div *ngIf="deviceSm || deviceXs" class="block" style="padding-top: 20%">
      <div>
        <p style="color: black; padding-bottom: 5%; font-size: 25px">
          Fast, Free Shipping<br />
        </p>
        <p style="color: black; padding-bottom: 5%; font-size: 25px">
          Contactless Delivery.
        </p>
      </div>
      <p class="text-block-small" style="color: black; padding-bottom: 5%">
        Try it now, risk free!
      </p>
      <button class="btn" style="
          background-color: #ffffff;
          font-size: 14px;
          width: 50%;
          height: 40px;
          font-weight: bold;
        ">
        Order Now
      </button>
    </div>
    <img class="img-responsive" style="
        border-radius: 6px;
        min-height: 350px;
        width: 100%;
        border-radius: 8px;
      " src="../assets/images/slide2.png" />
  </div>
</div>


<hr>
<div style="padding:2%">

  <div>Copyright © 2020 RedQ, Inc , All rights reserved</div>
</div>
