<div style="margin-top: 5%;display: flex;flex-direction: row;flex: 1;justify-content: center;">
  <div style="margin-bottom: 5%;">
    <p style="font-size: xx-large;font-weight: bold;text-align: center;">Reset Password</p><br>
    <p>Enter new Password</p>

    <div  style="padding-bottom: 2%;display: flex;flex-direction: row;width:400px;">
      <div style="width: 360px;">
        <ns-textField-account
        placeholder="Password"
          name="password"
          class="textfieldBorderColor font13"
          [rformgroup]="rformPassword"
          rformControlName="password"
          [type]="showPass ? 'text' : 'password'"
          >
        </ns-textField-account>
        <p
        style="font-size: 14px;"
        class="errorlbl"
        *ngIf="rformPassword.controls['password'].hasError('hasCapitalCase')"
      >
       password must have at least 1 Capital letter!
      </p>
      <p
      style="font-size: 14px;"
      class="errorlbl"
      *ngIf="rformPassword.controls['password'].hasError('hasSmallCase')"
    >
      passowrd must have at least 1 Small letter!
    </p>
    <p
    style="font-size: 14px;"

    *ngIf="rformPassword.controls['password'].hasError('hasDigit')"
  >
    passowrd must have at least 1 number!
  </p>
</div>
<div style="width: 30px;">
  <button style="height: 35px;" class="btn btn-default" (click)="passwordshow()" type="submit">
    <i *ngIf="showPass" class="glyphicon glyphicon-eye-open"></i>
    <i *ngIf="!showPass" class="glyphicon glyphicon-eye-close"></i>
  </button>
</div>

</div>
    <div style="margin-bottom:5%">
      <p > Confirm Password</p>
      <ns-textField-account  style="width: 400px" hint="min 8 chareacters" name="confirmPassword" type="password" class="textfieldBorderColor font13"
        [rformgroup]="rformPassword" rformControlName="confirmPassword">
      </ns-textField-account>
    </div>



    <div style="text-align: center;">
      <button (click)="changePassword()" class="btn btn-primary"
        style="color: whitesmoke;width:100%;">
        <span style="font-weight: bold;font-size: small;">Reset your password</span></button>
    </div>
  </div>
</div>
<div style="background-color: rgb(231, 228, 228);">
  <div style="padding-left:5% ;padding-right: 5%;padding-top: 3%;padding-bottom: 3%;">
    <div class="row">
      <div class="col-lg-6">
        <p>Quick Links</p>
        <p>Search</p>
      </div>
      <div class="col-lg-6">
        NewsLetter
        <input style="width: 40vw;">

      </div>
    </div>
  </div>

  <hr class="hr" style="background-color: black;">
  <div style="padding:5%">
    <button class="btn"
      style="padding-left:2.5%;padding-right: 2.5%; background-color: rgb(63, 61, 61); color: whitesmoke">
      <span style="font-weight: bold;font-size: small;">SIGN IN</span></button>
    <p style="text-align: right;">© 2020, Shrivasafoods store Powered by Shopify</p>
  </div>
</div>
