<div style="background-color:rgb(240, 236, 236) ;padding-bottom: 2.5%;min-height: 700px;">
  <div >
    <p   *ngIf="deviceMd" class="text-block1-md" style="font-size: 32px;">{{currentCategory?.title}}</p>

    <p   *ngIf="deviceLg" class="text-block1" style="font-size: 32px;">{{currentCategory?.title}}</p>
    <p  *ngIf="deviceSm || deviceXs" class="text-block1-small" >{{currentCategory?.title}}</p>
    <div style="height: 50vh;">
      <img class="img-responsive gradient" style="width: 100%;
      object-fit: cover;
      height: 100%;"
      [src]="currentCategory?.thumbImage">
    </div>
  </div>
  <div style="border-radius: 6px;margin:2%;min-height: 400px;">
    <div class="row" *ngIf="getcatagoryProducts.length == 0">
      <div class="col-lg-4 col-md-3 col-xs-4"></div>
      <img class="col-lg-4 col-xs-4 col-md-6" class="img-responsive" style="min-height: 260px" src="../assets/images/blank.PNG" />
      <div class="col-lg-4 col-md-3 col-xs-4"></div>
    </div>

    <div *ngIf="deviceLg || deviceMd" class="deviceLg">
      <div class="card"
        routerLinkActive="router-link-active"
        *ngFor="let item of catagoryItems"
        style="
            padding: 1%;
          background-color: white;
          margin: 1%;
        "
      >
        <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
      </div>
    </div>
    <div *ngIf="deviceXs || deviceSm">
      <div class="row">
        <div style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 2;
            justify-content: space-evenly;
          ">
          <div class="card" *ngFor="let item of catagoryItems" style="
              padding: 2%;
              background-color: white;
              margin: 2%;
            ">
            <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
