.text-block1 {
  position: absolute;
  color: white;
  padding-top: 12%;
  padding-left: 40%;
  font-size: 2vw;
  margin-bottom: 12px;
  font-weight: 500;
}
.text-block1-md {
  position: absolute;
  color: white;
  padding-top: 20%;
  padding-left: 40%;
  font-size: 2vw;
  margin-bottom: 12px;
  font-weight: 500;
}
.text-block1-small {
  position: absolute;
  color: white;
  left: 30%;
  width: 150px;
  padding-top: 40%;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 500;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;
}
.deviceXs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex:1
}
.deviceLg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   flex-wrap: wrap;
}
.gradient{
  background-color:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
