
<div class="row" *ngIf="deviceLg || deviceMd" style="padding-left: 2%;padding-top: 2%;padding-bottom: 2%; background-color: black;">
  <div style="display: flex;flex-direction: column;">
  <div  >
    <p  style="padding: 20px;color: white;font-size: 32px;">Shirivas Foods</p>
  </div>
  <div >
    <p style="padding: 20px;color: white;font-size: 16px;"> Visit help center</p>

 </div>
</div>
  <div class="row" >

  <div class="col-lg-1">
    <h1 class="btn" style="color: white;">Company</h1>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(6)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(1)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(2)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(3)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(4)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getAboutusConstants(5)}}</h4>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-1">
    <h1 style="color: white;">Products</h1>

    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getHeaderNames(2)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getHeaderNames(3)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getHeaderNames(4)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getSpecialConstants(1)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getSpecialConstants(2)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getSpecialConstants(3)}}</h4>
    <h4 class="btn" routerLink="['/aboutUs']" style="color: white;">{{getSpecialConstants(4)}}</h4>

  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <h1 class="btn" style="color: white;">Global CitizenShip</h1>
    <h3 class="btn" style="color: white;">Diversity and Insluction</h3>
    <h3 class="btn" style="color: white;">Saftey</h3>
  </div>

  <!-- <div class="col-lg-1"></div> -->
  <div class="col-lg-2">
    <h2 class="btn" style="color: white;">Help</h2>
    <h4 class="btn" style="color: white;">Shipping & Returns</h4>
    <h4 class="btn" style="color: white;">Privacy Policy</h4>
    <h4 class="btn" style="color: white;">FAQ</h4>
    <button class="btn" style="background-color: orange;font-size: 16px;font-weight: bold;">ORDER ONLINE</button>
  </div>
  <hr>
  <div class="col-lg-4">

    <div class="row" style="padding:5%;background-color: black;">
      <div  class="col-2 btn"><i class="btn fa fa-facebook-square" routerLink="/login" style="
             font-weight: 200;
             font-size:large;

             color:white;
           "></i></div>
         <div   class="col-2 btn"><i class="btn fa fa-whatsapp" routerLink="/login" style="
             font-weight: 200;
             font-size:large;
             margin-right: 2%;
             padding: 2%;

             color:white;
           "></i></div>
            <div  class="col-2 btn"><i class="btn fa fa-twitter" routerLink="/login" style="
             font-weight: 200;
             font-size:large;

             color:white;
           "></i></div>
            <div  class="col-2 btn"><i class="btn fa fa-instagram" routerLink="/login" style="
             font-weight: 200;
             font-size:large;

             color:white;
           "></i></div><div  class="col-2 btn"><i class="btn fa fa-youtube-play" routerLink="/login" style="
             font-weight: 200;
             font-size:large;

             color:white;
           "></i></div>
       </div>
    <div class="row" style="padding-top: 10%;display: flex;flex-direction: column;justify-content: left;background-color: black;">
      <p style="
      font-weight: 200;
      font-size:16px;


      color:white;
    ">Sign up for Special offers</p>
      <p style="
      font-weight: 200;
      font-size:18px;

      color:white;
    ">Email</p>
      <input  style="width: 50%;"/>
      <p style="
      font-weight: 200;
      font-size:18px;


      color:white;
    ">Zip Code</p>
      <input style="width: 50%;"/>

     <div style="margin-top: 5%;">
            <button class="btn btn-primary" style="font-size: 16px;">Count me in</button>
          </div>

    </div>

  </div>
  <!-- <div class="col-lg-3"></div> -->
</div>
</div>
<div *ngIf="deviceSm || deviceXs" >
  <div  class="row" style="padding:5%;display: flex;flex-direction: column;justify-content: left;background-color: black;">
    <div  >
      <p  style="padding: 20px;color: white;font-size: 26px;">Shirivas Foods</p>
    </div>
    <div >
      <p style="padding: 20px;color: white;font-size: 16px;"> Visit help center</p>

   </div>

  </div>
  <div  class="row" style="padding:5%;display: flex;flex-direction: column;justify-content: left;background-color: black;">
      <div class="btn " style="color: white;text-align: left;font-size: 26px;">Company</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(6)}}</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(1)}}</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(2)}}</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(3)}}</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(4)}}</div>
      <div class="btn " routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getAboutusConstants(5)}}</div>
  </div>
  <div  class="row" style="padding:5%;display: flex;flex-direction: column;justify-content: left;background-color: black;" >

      <div style="color: white;text-align: left;font-size: 26px;padding: 2%;">Products</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getHeaderNames(2)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getHeaderNames(3)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getHeaderNames(4)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getSpecialConstants(1)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getSpecialConstants(2)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getSpecialConstants(3)}}</div>
      <div class="btn" routerLink="['/aboutUs']" style="color: white;text-align: left;">{{getSpecialConstants(4)}}</div>

  </div>
    <div class="row" style="padding:5%;background-color: black;">
      <div class="btn" style="color: white;text-align: left;font-size: 18px;">Global CitizenShip</div>
      <div class="btn" style="color: white;text-align: left;font-size: 18px;">Diversity and Insluction</div>

      <div class="btn" style="color: white;text-align: left;font-size: 18px;">Saftey</div>
    </div>


    <div class="row" style="padding:5%;background-color: black;">
      <p class="btn col-xs-3" style="color: white;text-align: left;">Inovation</p>
      <p class="btn  col-xs-3" style="color: white;text-align: left;">Advanced </p>
      <p class="btn  col-xs-3" style="color: white;text-align: left;">Technology </p>

      <p class="btn  col-xs-3" style="color: white;text-align: left;">AI</p>
    </div>


    <div class="row" style="padding:5%;background-color: black;">
   <div  class="col-xs-2 btn"><i class="btn fa fa-facebook-square" routerLink="/login" style="
          font-weight: 200;
          font-size:large;

          color:white;
        "></i></div>
      <div   class="col-xs-2 btn"><i class="btn fa fa-whatsapp" routerLink="/login" style="
          font-weight: 200;
          font-size:large;
          margin-right: 2%;
          padding: 2%;

          color:white;
        "></i></div>
         <div  class="col-xs-2 btn"><i class="btn fa fa-twitter" routerLink="/login" style="
          font-weight: 200;
          font-size:large;

          color:white;
        "></i></div>
         <div  class="col-xs-2 btn"><i class="btn fa fa-instagram" routerLink="/login" style="
          font-weight: 200;
          font-size:large;

          color:white;
        "></i></div><div  class="col-xs-2 btn"><i class="btn fa fa-youtube-play" routerLink="/login" style="
          font-weight: 200;
          font-size:large;

          color:white;
        "></i></div>
    </div>

<div class="row" style="padding:10%;display: flex;flex-direction: column;justify-content: left;background-color: black;">
  <p style="
  font-weight: 200;
  font-size:22px;
  margin-right: 2%;
  padding: 2%;

  color:white;
">Sign up for Special offers</p>
  <p style="
  font-weight: 200;
  font-size:18px;
  margin-right: 2%;
  padding: 2%;

  color:white;
">Email</p>
  <input  style="width: 50%;"/>
  <p style="
  font-weight: 200;
  font-size:18px;
  margin-right: 2%;
  padding: 2%;

  color:white;
">Zip Code</p>
  <input  style="width: 50%;"/>

  <div style="margin-top: 5%;">
    <button class="btn btn-primary">Count me in</button>
  </div>

</div>

</div>

