<div class="page100p">
    <div class="headertop">
        <div></div>
        <div>
            <div class="customize">Customise</div>
            <div class="display-flex m-t-10">
                <div>Qty 1</div>
                <div>price</div>
            </div>
        </div>
        <div class="closebtn" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div>
        <mat-tab-group mat-align-tabs="center" [selectedIndex]="selected" (selectedIndexChange)="onSelectionIndexChange($event)">
            <mat-tab [label]="item?.tabsTitle" *ngFor="let item of items">
                <div class="row" mat-align-tabs="center">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6" style="min-height: 400px;">
                        <div class="lineItem">
                            <div *ngFor="let itemContent of item?.tabsContent" (click)="onTopItem()">
                                <div class="row">
                                    <div class="col-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="col-5">{{itemContent?.tabItemTitle}}</div>
                                   <div class="col-5">
                                    <app-customize-option-select (customOptionChange)='onCustomOptionChange($event)' [options]="itemContent?.tabItemOption">
                                    </app-customize-option-select>
                                  </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
