.m-t-7 {
    margin-top: 7px;
}

.m-l-10 {margin-left: 10px;} 
.m-r-10 {margin-right: 10px;} 

.display-flex {
    display: flex;
    align-items: center;
}

.w-5vw {
    width: 5vw;
    line-height: 20px;
    text-align: center;
}

.m-b-3 {
    margin-bottom: 3px;
}