<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<div *ngIf="searchProducts" style="background-color: #f7f7f7; width: 100%">
  <div class="container-fluid" style="width: 100%; padding-top: 2%">
    <div class="block">
      <div *ngIf="deviceXs || deviceSm">
        <div class="text-block">
          <p style="
              color: white;
              padding-top: 15%;
              padding-bottom: 2%;
              font-size: xx-large;
            ">
            Stay home & get
          </p>
          <p style="color: white; padding-bottom: 7%; font-size: xx-large">
            your tradational food
          </p>
        </div>
        <p class="text-block-small" style="padding-bottom: 7%">
          Start You'r Shopping with Shrivasafoods
        </p>

        <button class="btn" (click)="scrollToFeatured()" style="background-color: #ffffff; width: 40%">
          <span> Order Now </span>
        </button>
      </div>
      <div *ngIf="deviceLg || deviceMd" style="padding-top: 3%">
        <div class="text-block">
          <p style="color: white; padding-bottom: 6%; font-size: 40px">
            Stay home & get
          </p>
          <p style="color: white; padding-bottom: 12%; font-size: 40px">
            your tradational food
          </p>
        </div>
        <p class="text-block-small" style="padding-bottom: 12%; font-size: 20px">
          Start You'r Shopping with Shrivasafoods
        </p>

        <button class="btn" (click)="scrollToFeatured()" style="
            background-color: #ffffff;
            font-size: 14px;
            width: 50%;
            height: 40px;
            font-weight: bold;
          ">
          <span> Order Now </span>
        </button>
      </div>
    </div>
    <img class="img-responsive" style="min-height: 350px; width: auto; border-radius: 6px"
      src="../assets/images/home.jpeg" />
  </div>

  <div style="margin-top: 4%; margin-bottom: 4%">
    <div *ngIf="deviceXs || deviceSm">
      <div>
        <div style="
            padding-left: 7%;
            padding-bottom: 2%;
            display: flex;
            flex-direction: column;
            justify-content: left;
          ">
          <div class="row" style="padding-bottom: 5%">
            <div style="float: left; padding-right: 4%">
              <i class="fa fa-home" style="width: 10%; font-size: xx-large"></i>
            </div>

            <div style="float: right">
              <div style="font-weight: bold">Free Delivery</div>
              <div>For all oders over $100</div>
            </div>
          </div>

          <div class="row" style="padding-bottom: 5%">
            <div style="float: left; padding-right: 2%">
              <i class="fa fa-home" style="width: 10%; font-size: xx-large"></i>
            </div>

            <div style="float: right">
              <div style="font-weight: bold">Refundable</div>
              <div>If your item have no damage we agree to refund it.</div>
            </div>
          </div>

          <div class="row" style="padding-bottom: 5%">
            <div style="float: left; padding-right: 4%">
              <i class="fa fa-home" style="width: 10%; font-size: xx-large"></i>
            </div>

            <div style="float: right">
              <div style="font-weight: bold">Secure Payment</div>
              <div>100% secure Payment</div>
            </div>
          </div>

          <div class="row" style="padding-bottom: 5%">
            <div style="float: left; padding-right: 4%">
              <i class="fa fa-home" style="width: 10%; font-size: xx-large"></i>
            </div>

            <div style="float: right">
              <div style="font-weight: bold">24/7 Customer Support</div>
              <div>We have dedicated support.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 4%; margin-bottom: 4%">
    <div *ngIf="deviceLg || deviceMd" style="display: flex; flex-direction: row; justify-content: space-evenly">
      <div class="row">
        <div class="col-sm-2">
          <div><i class="fa fa-home" style="font-size: xx-large"></i></div>
        </div>
        <div class="col-sm-10">
          <div style="font-weight: bold">Free Delivery</div>
          <div style="padding-top: 10px">For All Orders Over 100$</div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-2">
            <div><i class="fa fa-home" style="font-size: xx-large"></i></div>
          </div>
          <div class="col-sm-10">
            <div style="font-weight: bold">Refundable</div>
            <div style="padding-top: 10px">
              If your item have no damage <br />
              we agree to refund it.
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-2">
            <div><i class="fa fa-home" style="font-size: xx-large"></i></div>
          </div>
          <div class="col-sm-10">
            <div style="font-weight: bold">Secure Payment</div>
            <div style="padding-top: 10px">100% secure payment</div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-sm-2">
            <div><i class="fa fa-home" style="font-size: xx-large"></i></div>
          </div>
          <div class="col-sm-10">
            <div style="font-weight: bold">24/7 Customer Support</div>
            <div style="padding-top: 10px">We have dedicated support</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin: 3%" />
  <div style="text-align: center">
    <p style="font-weight: bold">Shop by Category</p>
    <p>Visit our shop to see amazing products</p>
  </div>

  <!-- /////////////////////////////////////////corosal -->

  <div style="margin: 2%">
    <ng-image-slider [imagePopup]="false" *ngIf="deviceXs || deviceSm"
      [imageSize]="{ width: '200px', height: '150px', space: 4 }" [images]="categories"
      (imageClick)="onImageClick($event)" #nav></ng-image-slider>
  </div>

  <div style="margin: 2%">
    <ng-image-slider [imagePopup]="false" *ngIf="deviceLg || deviceMd"
      [imageSize]="{ width: '220px', height: '30%', space: 8 }" [images]="categories"
      (imageClick)="onImageClick($event)" #nav></ng-image-slider>
  </div>
  <!-- ////////////////////////////////////////// featured  producsts-->
  <div style="min-height: 50px;" id="target"></div>
  <div style="border-radius: 6px; margin: 2%" >
    <p style="
        font-weight: bold;
        padding-left: 1%;
        padding-top: 4%;
        font-size: 20px;
      ">
      Featured Products
    </p>
    <div *ngIf="deviceLg || deviceMd" class="deviceLg">
      <div routerLinkActive="router-link-active" *ngFor="let item of featuredProducts" style="
          padding: 1%;
          background-color: white;
          margin: 1%;
        ">
        <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
      </div>
    </div>
    <div *ngIf="deviceXs || deviceSm">
      <div class="row">
        <div style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 2;
            justify-content: space-evenly;
          ">
          <div *ngFor="let item of featuredProducts" style="
              padding: 2%;
              background-color: white;
              margin: 2%;
            ">
            <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 1%">
    <div *ngIf="deviceXs">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-right: 5%">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-sm-12">
              <div style="margin-top: 2%">
                <p class="text-block1Slider">Save upto 20%</p>
                <p class="text-block2Slider">TraditionalPowders</p>

                <button class="btn btn-imgSlider" (click)="scrollToTrending()">
                  <i class="fa fa-arrow">Order Now</i>
                </button>
                <img class="img-responsive" style="width: 100%" src="../assets/images/slide1.png" />
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-sm-12">
              <div style="margin-top: 2%">
                <p class="text-block1Slider">Save upto 20%</p>
                <p class="text-block2Slider">TraditionalPowders</p>

                <button class="btn btn-imgSlider" (click)="scrollToTrending()">
                  <i class="fa fa-arrow">Order Now</i>
                </button>
                <img class="img-responsive" style="width: 100%" src="../assets/images/slide1.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="deviceMd || deviceLg || deviceSm" id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-lg-6">
            <div style="margin-top: 2%">
              <p class="text-block1Slider">Save upto 20%</p>
              <p class="text-block2Slider">TraditionalPowders</p>

              <button class="btn btn-imgSlider" (click)="scrollToTrending()">
                <i class="fa fa-arrow">Order Now</i>
              </button>
              <img class="img-responsive" src="../assets/images/slide1.png" />
            </div>
          </div>
          <div class="col-lg-6">
            <div style="margin-top: 2%">
              <p class="text-block1Slider">Save upto 20%</p>
              <p class="text-block2Slider">TraditionalPowders</p>

              <button class="btn btn-imgSlider" (click)="scrollToTrending()">
                <i class="fa fa-arrow">Order Now</i>
              </button>
              <img class="img-responsive" src="../assets/images/slide3.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-6">
            <div style="margin-top: 2%">
              <p class="text-block1Slider">Save upto 20%</p>
              <p class="text-block2Slider">TraditionalPowders</p>

              <button class="btn btn-imgSlider">
                <i class="fa fa-arrow">Order Now</i>
              </button>
              <img class="img-responsive" style="width: 100%" src="../assets/images/slide1.png" />
            </div>
          </div>
          <div class="col-lg-6">
            <div style="margin-top: 2%">
              <p class="text-block1Slider">Save upto 20%</p>
              <p class="text-block2Slider">TraditionalPowders</p>

              <button class="btn btn-imgSlider">
                <i class="fa fa-arrow">Order Now</i>
              </button>
              <img class="img-responsive" style="width: 100%" src="../assets/images/slide3.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /////////////////////////    slider 2-->
<div id="trending" style="min-height: 20px;">
</div>
  <div  style="border-radius: 6px; margin: 2%">
    <p style="
        font-weight: bold;
        font-size: 1.5vw;
        padding-left: 3%;
        padding-top: 4%;
      ">
      Trending Products
    </p>
    <div *ngIf="deviceLg || deviceMd" class="deviceLg">
      <div routerLinkActive="router-link-active" *ngFor="let item of allProducts" style="
          padding: 1%;
          background-color: white;
          margin: 1%;
        ">
        <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
      </div>
    </div>
    <div *ngIf="deviceXs || deviceSm">
      <div class="row">
        <div style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 2;
            justify-content: space-evenly;
          ">
          <div *ngFor="let item of allProducts" style="
              padding: 2%;
              background-color: white;
              margin: 2%;
            ">
            <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////trending products -->

  <div class="row" style="margin: 1%">
    <div class="container-fluid" style="width: 100%; padding-top: 2%">
      <div *ngIf="deviceLg || deviceMd" class="block" style="padding-top: 5%">
        <div>
          <p style="color: black; padding-bottom: 5%; font-size: 40px">
            Fast, Free Shipping<br />
          </p>
          <p style="color: black; padding-bottom: 10%; font-size: 40px">
            Contactless Delivery.
          </p>
        </div>
        <p style="color: black; padding-bottom: 10%; font-size: 20px">
          Try it now, risk free!
        </p>
        <button class="btn" style="background-color: #ffffff; width: 40%; height: 35px">
          <span style="font-weight: bold"> Order Now </span>
        </button>
      </div>
      <div *ngIf="deviceSm || deviceXs" class="block" style="padding-top: 20%">
        <div>
          <p style="color: black; padding-bottom: 5%; font-size: 25px">
            Fast, Free Shipping<br />
          </p>
          <p style="color: black; padding-bottom: 5%; font-size: 25px">
            Contactless Delivery.
          </p>
        </div>
        <p class="text-block-small" style="color: black; padding-bottom: 5%">
          Try it now, risk free!
        </p>
        <button class="btn" (click)="scrollToFeatured()" style="
            background-color: #ffffff;
            font-size: 14px;
            width: 50%;
            height: 40px;
            font-weight: bold;
          ">
          Order Now
        </button>
      </div>
      <img class="img-responsive" style="
          border-radius: 6px;
          min-height: 350px;
          width: 100%;
          border-radius: 8px;
        " src="../assets/images/slide2.png" />
    </div>
  </div>
</div>

<div *ngIf="!searchProducts" style="border-radius: 6px; margin: 2%" id="target">
  <p style="
        font-weight: bold;
        padding-left: 1%;
        padding-top: 4%;
        font-size: 20px;
      ">
    All Products
  </p>

  <div *ngIf="deviceLg || deviceMd" class="deviceLg">
    <div routerLinkActive="router-link-active" *ngFor="let item of searchProductsData" style="
          padding: 1%;
          width: 200px;
          height: 200px;
          background-color: white;
          margin: 1%;
        ">
      <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
    </div>
  </div>
  <div *ngIf="deviceXs || deviceSm">
    <div class="row">
      <div style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 2;
            justify-content: space-evenly;
          ">
        <div *ngFor="let item of searchProductsData" style="
              padding: 2%;
              width: 180px;
              height: 200px;
              background-color: white;
              margin: 2%;
            ">
          <app-mainPage-listItem [item]="item"></app-mainPage-listItem>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div style="padding: 2%">
  <div>Copyright © 2020 RedQ, Inc , All rights reserved</div>
</div>
