<div *ngIf="deviceLg || deviceMd" style="text-align: center;margin: 10%;">
  <p style="font-size: xx-large;padding-bottom:3%;font-weight: bold;">Forget Your Password?</p>
  <p style="font-size:x-large;font-weight: bold;padding-bottom:3%;">We  got you . Just enter the email below and we will
    send you a link to get in</p>
    <p style="font-size: 14px" class="text text-success"
*ngIf="mailsent == 'show'">
Mail Sent to you Gmail Account
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="showEmail == 'show'">
Please enter your email id
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="errorForgetPassword == 'show'">
No Account found Create and account First
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="errorNetwork == 'show'">
Network error mail not sent Try Again
</p>
    <div style="text-align: center;margin-left:30%;margin-right: 30%;margin-bottom:3%;">
      <p style="font-weight: bold;text-align: left;">Email</p>
   <ns-textField-account name="email" placeholder="email"  class="textfieldBorderColor font13" [rformgroup]="forgetPasswordForm"
    rformControlName="email">
  </ns-textField-account>
</div>

<button *ngIf="token==false"   (click)="reset()" style="width: 40%;margin-bottom: 3%;" type="button" class="btn btn-primary"  >Send Email</button>
<button *ngIf="token==true"   (click)="reset()" style="width: 40%;margin-bottom: 3%;" type="button" class="btn btn-primary"  >Resend Email</button>

  <p class="text text-primary" style="font-weight: bold;">Contact Customer Care</p>

</div>
<div *ngIf="deviceXs || deviceSm" style="text-align: center;margin: 10%;">
  <p style="font-size: large;padding-bottom:3%;font-weight: bold;">Forget Your Password?</p>
  <p style="font-size:large;font-weight: bold;padding-bottom:3%;">We  got you . Just enter the email below and we will
    send you a link to get in</p>
    <div style="text-align: center;margin-left:30%;margin-right: 30%;margin-bottom:3%;">
      <p style="font-weight: bold;text-align: left;">Email</p>
        <ns-textField-account name="email"  class="textfieldBorderColor font13" [rformgroup]="forgetPasswordForm"
    rformControlName="email">
  </ns-textField-account>
</div>

<button *ngIf="token==false"   (click)="reset()" style="width: 40%;margin-bottom: 3%;" type="button" class="btn btn-primary"  >Send Email</button>
<button *ngIf="token==true"   (click)="reset()" style="width: 40%;margin-bottom: 3%;" type="button" class="btn btn-primary"  >Resend Email</button>
<p style="font-size: 14px" class="text text-success"
*ngIf="mailsent == 'show'">
Mail Sent to you Gmail Account
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="showEmail == 'show'">
Enter your Email
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="errorForgetPassword == 'show'">
No Account found Create and account First
</p>
<p style="font-size: 14px" class="errorlbl"
*ngIf="errorForgetPassword == 'show'">
Network error mail not sent Try Again
</p>
<p class="text text-primary" style="font-weight: bold;">Contact Customer Care</p>

</div>
