<div style="min-height: 500px;">
  <hr>
  <h1 style="text-align: center;font-weight: bold;">Payment Information</h1>
 <div>
    <div class="row" style="margin:1%">
      <div class="col-lg-2">
        <p style="font-size: large;">Card No </p>
         </div>

      <div class="col-lg-2">
      <p style="font-size: large;"> Name on Card</p>
    </div>
    <div class="col-lg-2">
      <p style="font-size: large;">Expiration Date</p>

     </div>
    <div class="col-lg-2">
   <p style="font-size: large;">Sequrity Code</p>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2" class="btn" data-toggle="collapse" href="#collapseExample">

      <label style="font-size: 18px;" class="text-primary">+ Credit Card</label>

</div>
    </div>

  <div class="collapse" id="collapseExample">
    <hr>
    <form [formGroup]="newPaymentForm">
    <div style="padding: 4%;">

      <div class="row"  >

        <mat-form-field class="col-4" appearance="outline">
          <mat-label><span style="font-size: 16px;">Card no</span></mat-label>
          <input matInput formControlName="cardNo" >
        </mat-form-field>
      </div>

      <div class="row">

        <mat-form-field class="col-4"  appearance="outline">
          <mat-label><span style="font-size: 16px;">Name on Card</span></mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-2"  appearance="outline">
          <mat-label><span style="font-size: 16px;">Expiration Data MM/YY</span></mat-label>
          <input matInput formControlName="expirationDate" type="date">
        </mat-form-field>


        <mat-form-field class="col-2"  appearance="outline">
          <mat-label><span style="font-size: 16px;">Sequrity Code</span></mat-label>
          <input matInput formControlName="sequrityCode" type="number">
        </mat-form-field>
      </div>
      <button class="btn btn-primary" style="width: 120px;height: 40px;"
      (click)="newPayment()">Add Payment</button>
    </div>
 </form>
  </div>

<div style="min-height: 400px;">
  <div *ngFor="let item of allpayments|  paginate: { itemsPerPage: 10, currentPage: p }; ;let i = index">
    <div class="row"   style="margin:1%;padding-top: 5px;padding-bottom: 10px;border-radius: 12px;background-color: #b4d469;">
      <div class="col-lg-2">

        <p  >{{i + 1}}</p>
      </div>

      <div class="col-lg-2">

    <p  >{{item?.name}}</p>
  </div>
  <div class="col-lg-2">

    <p  >{{item?.expirationDate}}</p>
  </div>
  <div class="col-lg-2">

    <p  >{{item?.sequrityCode}}</p>
  </div>



</div>
</div>
</div>



</div>

  </div>


<pagination-controls (pageChange)="p = $event"></pagination-controls>
