<div style="min-height: 500px;padding-bottom: 15%;">
  <div class="row" >
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
    <div  class="col-lg-8 col-xs-10 col-sm-10" style="margin-top: 3.0%;margin-bottom: 3%;;display: flex;flex-direction: row;justify-content: space-between;">
      <p style="font-size:x-large;font-weight:bolder;text-align: center;font-weight: bold;">Cart</p>
      <span class="glyphicon glyphicon-remove" [routerLink]="['/']" routerLinkActive="router-link-active" ></span>
    </div>
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
  </div>

    <div class="row"  style="background-color: rgb(243, 242, 242)">
    <div class="col-lg-2 col-sm-1 col-xs-1"></div>
   <div class="col-lg-8 col-xs-10 col-sm-10" style="display: flex;flex-direction: row;
   justify-content: space-between;;
   padding-top: 20px;
   ">
    <p >Total Amount </p>
    <p style="font-weight: 500;">${{getTotal}}</p>

  </div>
  <div class="col-lg-2 col-sm-1 col-xs-1"></div>

  </div>



  <div class="container">
  <div class="row" *ngIf="getCartItems.length==0">
<div class="col-4"></div>
    <img class="col-4" class="img-responsive" style="min-height: 260px;" src="../assets/images/blank.PNG">
   <div class="col-4"></div>
  </div>

  </div>
    <div class="row" *ngFor="let item of getCartItems" >
<div class="col-lg-2 col-md-2 col-xs-1 col-sm-11"></div>
  <div class="col-lg-8 col-xs-10 col-sm-10" >
    <div class="row" style="padding-top: 2%;">
    <div class="col-4 col-lg-4"  (click)="removeProduct(item)" >

        <div class="container" style="height: 80px;width: 130px;" >
            <div  style="background-color: grey;">
            <img class="image" style="width: 130px;height: 80px;"  [src]='getImage(item.productImage)'>
          </div>

          <div class="middle" >
            <span class="glyphicon glyphicon-remove" style="background-color: white;padding: 15%;border-radius: 12px;"></span>
          </div>
        </div>




    </div>
    <div class="col-4 col-lg-6" style="min-width: 30px;" >
  <div>
  <p>{{item.name}}</p>
  </div>
  <div >
  <p> Unit price : ${{item.price}}</p>
  <p>Total Units : {{item.productCount}}</p>
  </div>
  </div>
    <div class="col-4 col-lg-2" style="text-align: right;">
  <p style="font-weight: 500;">${{item.unitTotal}}</p>
  <div style="height: 150px;width: 160px;margin-right: 20px;margin-left: 20px;">
    <div (click)="addProduct(item)" *ngIf="item.productCount===0" style="text-align: right;">
     <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    </div>
    <div *ngIf="item.productCount > 0" style="display: flex;flex-direction: row;width: 100px;height: 40px;
     background-color: rgb(63, 61, 61);border-radius: 6px;border-style: groove;margin: 5%;
     color: whitesmoke;" >
       <div (click)="addProduct(item)" class="btn" style="text-align: center;width: 40px;color: white;font-size: large;font-weight: bold;">
       <span > +</span>
       </div>
       <div  style="width: 20px;color: white;font-size: large;text-align: center;padding-top: 7px;">{{item.productCount}}</div>
       <div (click)="removeProduct(item)" class="btn" style="text-align: center;width: 40px;color: white;font-size: large;font-weight: bold;">
        <span > -</span>
         </div>
        </div>

     </div>

</div>

  </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1"></div>

  <hr >
  </div>

  </div>

  <div [routerLink]="['/checkOut']" *ngIf="getCartItems.length!==0"  style="
  box-sizing: border-box;
  min-width: 0px;
  max-width: 960px;
  margin: 0px auto;
  pointer-events: none;
  width: calc(100% - 40px);
">
    <button style="
        bottom: 87px;
        opacity: 1;
        transform: translateY(0px);
        border: 0px;
        outline: 0px;
        max-width: 960px;
        height: 50px;
        color: white;
        padding-left:33% ;
        position: fixed;
        pointer-events: all;
        width: calc(100% - 40px);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(41, 41, 41);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
        cursor: pointer;
        left: auto;
        right: auto;
        z-index: 999;
        text-align: center;
      ">
      <div style="color: white;text-align: center;">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path id="shopping-bag"
            d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
            transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
        </svg>
    <span style="justify-content: center;text-align: center;">Proceed To Check out</span>
      </div>

    </button>
  </div>
