<div class="row" style="min-height: 200px;margin: 10%;">
  <div class="col-xs-8">
    Image
  </div>
  <div class="col-xs-4">
    <h2>Give the gift of GRUBHUB</h2>
    <h4 style="width: 50%;word-wrap: break-word;">with Grubhub gift cards,friends and family can order anytime from anywhere for their fav resturaunt</h4>
    <div style="display: flex;flex-direction: row;justify-content: space-between;">
      <button class="btn btn-primary">Buy a gift card</button>
      <button>Redeam a gift card</button>
    </div>
  </div>

</div>
