<div style="height: 180px;width: 160px;">
 <div style="min-height: 45px;">
  <div (click)="addProduct(item)" *ngIf="item.productCount===0" style="text-align: right;">
   <button style="border: 0px solid transparent;
   padding: 3px 10px 3px 10px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
  </div>
  <div *ngIf="item.productCount > 0" style="display: flex;flex-direction: row;width: 100px;height: 40px;
   background-color: rgb(63, 61, 61);border-radius: 6px;border-style: groove;
   color: rgb(8, 5, 5);float: right;" >
     <div (click)="addProduct(item)" class="btn" style="text-align: center;width: 40px;color: white;font-size: large;font-weight: bold;">
     <span > +</span>
     </div>
     <div  style="width: 20px;color: white;font-size: large;text-align: center;padding-top: 7px;">{{item.productCount}}</div>
     <div (click)="removeProduct(item)" class="btn" style="text-align: center;width: 40px;color: white;font-size: large;font-weight: bold;">
      <span > -</span>
       </div>
      </div>
    </div>
      <div style="margin-left: 20px;">
   <img (load)='imageLoaded()' [src]='getImage(item.productImage)' style="height: 100px;width: auto">
   <div *ngIf="loadingImageGetter" style="margin-left: 35px;" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
   <div [routerLink]="['/customize']" routerLinkActive="router-link-active"  style="padding-bottom: 20px;padding-top: 10px;padding-bottom: 10px;height: 30px;">
    <button style="width: 100px;
    background-color: rgb(63, 61, 61);border-radius: 6px;border-style: groove;
    color: white;margin-left: 20px;">Customize</button>
  </div>

 </div>



