<div  style="min-height: 500px;" >
  <hr>
  <h1 style="text-align: center;font-weight: bold;">Products</h1>
 <div >
    <div class="row" style="margin:1%">
      <div class="col-lg-2">
        <p style="font-size: large;">Product No </p>
         </div>

      <div class="col-lg-2">
      <p style="font-size: large;">Product Name </p>
    </div>
    <div class="col-lg-2">
      <p style="font-size: large;">Product Price</p>

     </div>
    <div class="col-lg-2">
   <p style="font-size: large;">Product Orders</p>
      </div>

    </div>

  <div  *ngFor="let item of allProducts|  paginate: { itemsPerPage: 10, currentPage: p }; ;let i = index">
    <div class="row panel-title" style="margin:1%;padding-top: 10px;padding-bottom: 10px;border-radius: 12px;background-color: #b4d469;">

      <div class="col-lg-2">

        <p  >{{i + 1}}</p>
      </div>

      <div class="col-lg-2">

    <p  >{{item?.name}}</p>
  </div>
  <div class="col-lg-2">

    <p  >{{item?.price}}</p>
  </div>
  <div class="col-lg-2">

    <p  >{{item?.productOrders}}</p>
  </div>

  <div class="col-lg-1">

    <p     class="btn  green-btn"  style="color: white;" (click)="edit(item)">Edit</p>
  </div>

  <div class="col-lg-1">

    <p     class="  btn  btn-danger"  style="color: white;" (click)="delete(item)">Delete</p>
  </div>


</div>
</div>

  </div>

</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
