<div style="background-color:rgb(240, 236, 236) ;padding-bottom: 2.5%;min-height: 500px;">


<div style="padding-top: 5%;margin-left:5%;margin-right: 5%;">
 <h2>What our Clients say</h2>
<div class="row" >
  <div class="col-xs-8" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-4" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>

</div>
<div class="row" >
  <div class="col-xs-8" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-4" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>

</div>
<div class="row" >
  <div class="col-xs-8" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-4" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>

</div>
<div  style="padding:5%;background-color:white;margin-right: 10%;margin-top: 5%;margin-left:2%;margin-bottom: 2%;display: flex;flex-direction: column;">
  <h1>Post your Comment</h1>


  <div >

    <div  style="">
     <div style="display: flex;flex-direction: row;justify-content: space-between">
      <input [(ngModel)]="username" placeholder="username" style="width: 30%;" class="form-control" type="text" name="username">
      <input  [(ngModel)]="email" placeholder="email" style="width: 30%;" class="form-control" type="text" name="email">
      <input  [(ngModel)]="contact" placeholder="contact" style="width: 30%;" class="form-control" type="text" name="contact">

    </div>
      <!-- <textarea  [(ngModel)]="comment" placeholder="comment" style="margin-top: 5%;width: 100%;" class="form-control" type="text" name="message"> -->
<textarea [(ngModel)]="comment" placeholder="comment" name="comment"  rows="5" style="margin-top: 5%;width: 100%;"></textarea>
           <div>
                           <p  class="btn btn-primary"  (click)="submit()" >Submit</p>
            </div>

            </div>
    </div>


</div>
</div>

