<div style="min-height: 500px;">


<div style="margin: 2%;padding: 1%;background-color: rgb(236, 236, 236);">
 <h2>What our Clients say</h2>
<div class="row" >
  <div class="col-9" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-3" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>

</div>
<div class="row" >
  <div class="col-9" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-3" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>

</div>
<div class="row" >
  <div class="col-9" style="padding:2%;">
    <h1 style="">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-3" style="padding:2%">
    <img class="img-responsive gradient" style="height: 200px;width: 200px;object-fit:cove
    r;border-radius: 6px;" src="../assets/images/7.jpg">
  </div>
</div>
</div>
<div  style="margin:2%;padding: 1%;background-color: rgb(236, 236, 236);">
  <h1 style="font-weight: bold;">Post your Comment</h1>


  <div >

    <div  style="">
     <div style="display: flex;flex-direction: row;justify-content: space-between">
      <input [(ngModel)]="username" placeholder="username" style="width: 30%;" class="form-control" type="text" name="username">
      <input  [(ngModel)]="email" placeholder="email" style="width: 30%;" class="form-control" type="text" name="email">
      <input  [(ngModel)]="contact" placeholder="contact" style="width: 30%;" class="form-control" type="text" name="contact">

    </div>
<textarea [(ngModel)]="comment" class="form-control" 
placeholder="comment" name="comment"  rows="5" style="margin-top: 5%;width: 100%;"></textarea>
           <div style="margin-top: 4%;">
                           <p  class="btn btn-primary"  (click)="submit()" >Submit</p>
            </div>

            </div> 
    </div>


</div>


