<div style="margin-left:5%;margin-right: 5%;margin-bottom: 5%;">

<div class="card"  >
  <p style="font-size: large;font-weight: bold;">My Profile</p>

  <div style="background-color: lightskyblue;margin-bottom: 5%;" >
    <div style="font-size: 22px;font-weight: bold;padding: 20px;">
      General Information</div>

  </div>
  <form [formGroup]="rformEdit">
    <div class="row">
    <div  class="col-6">
      <p style="padding-bottom: 1%" style="font-size: 18px;">Username</p>
      <ns-textField-account
        name="username"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="username"
      >
      </ns-textField-account>

    </div>

    <div class="col-6">
      <p style="padding-bottom: 1%;font-size: 18px;" >Email</p>
      <ns-textField-account
        name="email"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="email"
      >
      </ns-textField-account>
    </div>
  </div>
  <div class="row">

    <div class="col-6" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%;font-size: 18px;">Contact</p>
      <ns-textField-account
        name="contact" type="text"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="contact"
      >
      </ns-textField-account>
    </div>
  </div>
  <div class="row">

    <div class="col-12" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%;font-size: 18px;">Adress 1</p>
      <ns-textField-account
        name="adress1" type="text"
        placeholder="Adress 1"

        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="adress1"
      >
      </ns-textField-account>
    </div>
  </div>
  <div class="row">

    <div class="col-12" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%;font-size: 18px;">Adress 2</p>
      <ns-textField-account
        name="adress2" type="text"
        placeholder="Adress 2"

        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="adress2"
      >
      </ns-textField-account>
    </div>
  </div>

  <div class="row">

    <div class="col-4" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%;font-size: 18px;">Zip Code</p>
      <ns-textField-account
        name="appartment" type="text"
        placeholder="Zip Code"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="code"
      >
      </ns-textField-account>
    </div>

    <div class="col-4" style="padding-bottom: 2%">

      <p style="padding-bottom: 1%;font-size: 18px;">Contry</p>
      <ns-textField-account
        name="contry" type="text"
        placeholder="Contry"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="contry"
      >
      </ns-textField-account>
    </div>

    <div class="col-4" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%;font-size: 18px;">State </p>
      <ns-textField-account
        name="state" type="text"
        placeholder="State "
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="state"
      >
      </ns-textField-account>
    </div>


  </div>


    </form>

    <div style="text-align: right;margin: 2%;">
        <p class="  btn  green-btn" (click)="editInfo()" >Edit</p>
      </div>

      <div style="background-color: lightskyblue;margin-bottom: 2%;" >
        <div style="font-size: 22px;font-weight: bold;padding: 20px;">
          Change Password</div>

      </div>

      <div class="row">

      <p class="col-6" style="padding-bottom: 1%;font-size: 18px;">Old Password</p>
      <p class="col-6" style="padding-bottom: 1%;font-size: 18px;">New Password</p>

    </div>

      <form [formGroup]="rformEditPassword">
        <div class="row">
          <div class="col-6" style="
          padding-bottom: 2%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        ">

       <div style="width: 94%">

        <ns-textField-account placeholder="Password " name="password"
            [type]="showOld ? 'text' : 'password'" class="textfieldBorderColor font13"
            [rformgroup]="rformEditPassword"
            rformControlName="newPassword"
       >
          </ns-textField-account>
        </div>
        <div style="width: 40px">
          <button style="height: 35px" class="btn btn-default" (click)="passwordshowOld()" type="submit">
            <i *ngIf="showOld" class="glyphicon glyphicon-eye-open"></i>
            <i *ngIf="!showOld" class="glyphicon glyphicon-eye-close"></i>
          </button>
        </div>

      </div>



        <div class="col-6" style="
        padding-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      ">

     <div style="width: 94%">

         <ns-textField-account placeholder="Password " name="password"
          [type]="showPassword ? 'text' : 'password'" class="textfieldBorderColor font13"
          [rformgroup]="rformEditPassword"
          rformControlName="newPassword"
     >
        </ns-textField-account>
      </div>

      <div style="min-width: 40px;width: 40px">

        <button style="height: 35px;" class="btn btn-green" (click)="passwordshow()" type="submit">
          <i *ngIf="showPassword" class="glyphicon glyphicon-eye-open"></i>
          <i *ngIf="!showPassword" class="glyphicon glyphicon-eye-close"></i>
        </button>
      </div>

    </div>




      </div>
        </form>
        <div style="text-align: right;margin: 2%;">
          <p  class="  btn  green-btn"  (click)="editPassowrd()" >Edit</p>
        </div>

        </div>
</div>
