<div style="margin-left:5%;margin-right: 5%;">

<div class="card"  style="margin-left: 10%;margin-right: 10%;">
  <p style="font-size: large;font-weight: bold;">My Profile</p>
  <hr>
  <form [formGroup]="rformEdit">
    <div style="display: flex;flex-direction: row;">
    <div style="padding-bottom: 2%;padding-right: 20%;float: left;" class="">
      <p style="padding-bottom: 1%">Username</p>
      <ns-textField-account
        name="username"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="username"
      >
      </ns-textField-account>

    </div>

    <div style="padding-bottom: 2%;float:right">
      <p style="padding-bottom: 1%">Email</p>
      <ns-textField-account
        name="email"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="email"
      >
      </ns-textField-account>
    </div>
  </div>
  <div style="display: flex;flex-direction: row;">

    <div style="padding-bottom: 2%">
      <p style="padding-bottom: 1%">Contact</p>
      <ns-textField-account
        name="contact" type="text"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="contact"
      >
      </ns-textField-account>
    </div>
  </div>


    </form>
    <div style="text-align: right;">
        <p  class="btn" (click)="editInfo()" style="color: rgb(104, 104, 209);">Edit</p>
      </div>

        <form [formGroup]="rformEditPassword">
        <div style="display: flex;flex-direction: row;">
        <div style="padding-bottom: 2%;padding-right: 20%;float: left;" class="">
          <p style="padding-bottom: 1%">Old Password</p>
          <ns-textField-account
            name="oldPassword" type="password"
            class="textfieldBorderColor font13"
            [rformgroup]="rformEditPassword"
            rformControlName="oldPassword"
          >
          </ns-textField-account>

        </div>

        <div style="padding-bottom: 2%;float:right">
          <p style="padding-bottom: 1%">New Password</p>
          <ns-textField-account
            name="newPassword" type="password"
            class="textfieldBorderColor font13"
            [rformgroup]="rformEditPassword"
            rformControlName="newPassword"
          >
          </ns-textField-account>
        </div>
      </div>
        </form>
        <div style="text-align: right;">
          <p  class="btn"  (click)="editPassowrd()" style="color: rgb(104, 104, 209);">Edit</p>
        </div>

        </div>
</div>
