<div style="margin-left:5%;margin-right: 5%;">

<div class="card"  style="margin-left: 10%;margin-right: 10%;">
  <p style="font-size: large;font-weight: bold;">My Profile</p>
  <hr>
  <form [formGroup]="rformEdit">
    <div class="row">
    <div  class="col-6">
      <p style="padding-bottom: 1%">Username</p>
      <ns-textField-account
        name="username"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="username"
      >
      </ns-textField-account>

    </div>

    <div class="col-6">
      <p style="padding-bottom: 1%">Email</p>
      <ns-textField-account
        name="email"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="email"
      >
      </ns-textField-account>
    </div>
  </div>
  <div class="row">

    <div class="col-6" style="padding-bottom: 2%">
      <p style="padding-bottom: 1%">Contact</p>
      <ns-textField-account
        name="contact" type="text"
        class="textfieldBorderColor font13"
        [rformgroup]="rformEdit"
        rformControlName="contact"
      >
      </ns-textField-account>
    </div>
  </div>


    </form>
    <div style="text-align: right;">
        <p  class="btn" (click)="editInfo()" style="color: rgb(104, 104, 209);">Edit</p>
      </div>

<div class="row">

      <p class="col-6" style="padding-bottom: 1%">Old Password</p>
      <p class="col-6" style="padding-bottom: 1%">New Password</p>

    </div>

      <form [formGroup]="rformEditPassword">
        <div class="row">
          <div class="col-6" style="
          padding-bottom: 2%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        ">

       <div style="width: 94%">

        <ns-textField-account placeholder="Password " name="password"
            [type]="showOld ? 'text' : 'password'" class="textfieldBorderColor font13"
            [rformgroup]="rformEditPassword"
            rformControlName="newPassword"
       >
          </ns-textField-account>
        </div>
        <div style="width: 40px">
          <button style="height: 35px" class="btn btn-default" (click)="passwordshowOld()" type="submit">
            <i *ngIf="showOld" class="glyphicon glyphicon-eye-open"></i>
            <i *ngIf="!showOld" class="glyphicon glyphicon-eye-close"></i>
          </button>
        </div>

      </div>



        <div class="col-6" style="
        padding-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      ">

     <div style="width: 94%">

         <ns-textField-account placeholder="Password " name="password"
          [type]="showPassword ? 'text' : 'password'" class="textfieldBorderColor font13"
          [rformgroup]="rformEditPassword"
          rformControlName="newPassword"
     >
        </ns-textField-account>
      </div>
      <div style="min-width: 40px;width: 40px">

        <button style="height: 35px;" class="btn btn-default" (click)="passwordshow()" type="submit">
          <i *ngIf="showPassword" class="glyphicon glyphicon-eye-open"></i>
          <i *ngIf="!showPassword" class="glyphicon glyphicon-eye-close"></i>
        </button>
      </div>

    </div>




      </div>
        </form>
        <div style="text-align: right;">
          <p  class="btn"  (click)="editPassowrd()" style="color: rgb(104, 104, 209);">Edit</p>
        </div>

        </div>
</div>
