<div style="display: flex;flex-direction: column;justify-content: center;flex: 1;text-align: center;min-height: 550px;">

  <div style="margin-right: 40%;margin-left: 40%;border: 2px;
  border-style: groove;border-radius: 12px;border-color: rgb(0, 189, 0);padding: 2%;">
  <p style="font-size: 22px;font-weight: bold;font-style: italic;">Your Account is Verified </p>
  <button class="btn" style="background-color: rgb(0, 189, 0);width: 100px;margin-top: 30px;color: white;" [routerLink]="['/login']" routerLinkActive="router-link-active" >Home</button>
</div>
</div>
