<div class="row" style="background-color: #f7f7f7;" style="margin-top: 2%;margin-bottom: 2%;">
  <div class="col-lg-2 col-xs-1 col-sm-1"></div>
  <div class="col-lg-8 col-xs-10 col-sm-12">
    <div [ngClass]="{'borderRight': deviceXs}" class="cardLeft col-lg-8 col-xs-12 col-sm-12">
      <div style="width: 100%; padding-bottom: 8%">
        <p [style.font-size.px]="deviceXs || deviceSm ? '15' : '25'" class="btn"
          style="text-align: left; padding-top: 5%; font-weight: 500">
          Login Your Account
        </p>
        <p *ngIf="deviceXs" (click)="createAccount()"
          style="font-size:small;font-weight: 500;padding-top: 5%;text-align: right;justify-content: right;float: right;"
          class="btn text-primary">Login</p>

      </div>

      <hr>
      <div style="padding-bottom: 2%">

        <div *ngIf="loginType == 'email'">
          <ns-textField-account placeholder="Email" name="email" class="textfieldBorderColor font13"
            [rformgroup]="rformLogin" rformControlName="email">
          </ns-textField-account>
        </div>

        <div *ngIf="loginType == 'phone'">
          <form [formGroup]="rformLogin">
            <ngx-intl-tel-input [cssClass]="'customInput'" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
              [searchCountryFlag]="true" [selectFirstCountry]="true" [maxLength]="15" [phoneValidation]="true"

              [selectedCountryISO]="CountryISO.India"
              name="phone" formControlName="phone">
            </ngx-intl-tel-input>
          </form>
        </div>
        <p style="font-size: 14px" class="errorlbl"
        *ngIf="getcountryCodeValidation == 'show'">
        select country code and number
      </p>

        <div *ngIf="loginType=='phone'" class="text-primary"
          style="display: flex; width: 100%; margin-top: 10px; justify-content: flex-end; cursor: pointer;"
          (click)="toggleLoginType('email')">
         <p class="btn text-primary">Email login instead</p>

        </div>

        <div *ngIf="loginType=='email'" class="text-primary"
          style="display: flex; width: 100%; margin-top: 10px; justify-content: flex-end; cursor: pointer;"
          (click)="toggleLoginType('phone')">
         <p class="btn text-primary">Phone login instead</p>

        </div>

      </div>

      <div style="
      padding-bottom: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    ">
    <div style="width: 94%">
      <ns-textField-account placeholder="Password " name="password"
        [type]="show ? 'text' : 'password'" class="textfieldBorderColor font13"
        [rformgroup]="rformLogin" rformControlName="password">
      </ns-textField-account>
    </div>
    <div style="width: 40px">
      <button style="height: 35px" class="btn btn-default" (click)="passwordshow()" type="submit">
        <i *ngIf="show" class="glyphicon glyphicon-eye-open"></i>
        <i *ngIf="!show" class="glyphicon glyphicon-eye-close"></i>
      </button>
    </div>

  </div>
  <div class="text-primary"
          style="display: flex; width: 100%;justify-content: flex-end; cursor: pointer;">
          <div style="text-align: right;">
            <p (click)="forgetPassword()" class="text text-primary btn">Forget Password? </p>
          </div>
        </div>
        <p style="font-size: 14px" class="errorlbl"
        *ngIf="getfillAllValidation == 'show'">
        Fill all form entries
      </p>
      <p style="font-size: 14px" class="errorlbl"
      *ngIf="authPasswordError == 'show'">
      Auth Password Failed
    </p>

      <p style="font-size: 14px" class="errorlbl"
      *ngIf="accountNotVerfied == 'show'">
      Account Not Verified
    </p>

      <div class="row" style="margin-left: 1%;margin-right: 1%;">
        <button class="col-12 btn btn-primary" (click)="login()" type="button">Login</button>

      </div>
      <div *ngIf="deviceMd || deviceSm  || deviceLg" class="row"
        style="margin-left:1%;margin-right: 1%;margin-top: 3%;">

        <button (click)="signInGoogle('google')" class="col-5 btn btn-danger">
          SignIn With Google
        </button>
        <div class="col-2"></div>
        <button (click)="signInFacebook('facebook')" style="font-size: small;" class="col-5 btn btn-primary">
          SignIn With facebook
        </button>
      </div>
      <div *ngIf="deviceXs" class="row" style="margin-left:1%;margin-right: 1%;margin-top: 3%;">

        <button (click)="signInGoogle('google')" class="col-12 btn btn-danger">
          SignIn With Google
        </button>
      </div>

      <div *ngIf="deviceXs" class="row" style="margin-left:1%;margin-right: 1%;margin-top: 3%;">
        <button (click)="signInFacebook('facebook')" style="font-size: small;" class="col-12 btn btn-primary">
          SignIn With facebook
        </button>
      </div>

    </div>
    <div *ngIf="!deviceXs" class="col-lg-4 col-xs-12 col-sm-12 cardRight">
      <h3 class="btn">Hello Friend</h3>
      <h4 class="btn">Fill up the Form and </h4>
      <h4 class="btn">start Journey with us</h4>

      <div style="text-align: center;width: 100%;">
        <button (click)="createAccount()" type="button" class="btn btn-primary">Create Account </button>

      </div>

    </div>


  </div>
  <div class="col-lg-2 col-xs-1 col-sm-1"></div>
</div>

<div style="background-color: rgb(189, 187, 187);">
  <div style="padding-left:5% ;padding-right: 5%;padding-top: 3%;padding-bottom: 3%;">
    <div class="row">
      <div class="col-lg-6">
        <p>Quick Links</p>
        <p>Search</p>
      </div>
      <div class="col-lg-6">
        NewsLetter
        <input style="width: 40vw;">

      </div>
    </div>
  </div>

  <hr class="hr" style="background-color: black;">
  <div style="padding:5%" (click)="createAccount()">
    <button class="btn"
      style="padding-left:2.5%;padding-right: 2.5%; background-color: rgb(63, 61, 61); color: whitesmoke">
      <span style="font-weight: bold;font-size: small;">SIGN IN</span></button>
    <p style="text-align: right;">© 2020, picksystore Powered by Shopify</p>
  </div>
</div>
