<div>
  <header *ngIf="deviceLg || deviceMd">
    <div>
      <div class="row" style="
          padding-top: 0.5%;
          color: white;
        ">
        <p class="col-3 btn" style="
            font-size: 26px;
            font-weight: 500;

          " routerLink="/">

          SHIRIVAS FOODS
    </p>
        <div class="col-7" style=" padding: 10px">
          <div style="
              border-radius: 6px;
              font-weight: 300px;
              background-color: rgb(240, 238, 238);
              display: flex;
              padding: 10px;
            ">
            <span><i class="fa fa-search" style="
                  font-weight: 200;
                  font-size: large;
                  padding: 2%;
                  color: rgb(134, 132, 132);"></i></span>
            <input class="searchHome" (input)="onSearchChange($event.target.value)"
              placeholder="What Are You Looking For?" />
          </div>
        </div>
        <div  class="col-2"
          style="display: flex; flex-direction: row;padding-right: 2%;justify-content: flex-end; padding-top: 1%">
          <svg style="font-size: xx-large" *ngIf="!authService.loggedIn()" style="padding-top: 1%"  routerLink="/login"
           class="col-4" width="40" height="26" viewBox="0 0 10.667 16"><g transform="translate(-6 -3)">
             <path d="M15.111,6.556A3.556,3.556,0,1,1,11.556,3,3.556,3.556,0,0,1,15.111,6.556Zm-1.778,0a1.778,1.778,0,1,1-1.778-1.778A1.778,1.778,0,0,1,13.333,6.556Z" transform="translate(-0.222)" fill="#292929" fill-rule="evenodd"></path><path d="M14.889,14.667A.889.889,0,0,0,14,13.778H8.667a.889.889,0,0,0-.889.889V20H6V14.667A2.667,2.667,0,0,1,8.667,12H14a2.667,2.667,0,0,1,2.667,2.667V20H14.889Z" transform="translate(0 -1)" fill="#292929"></path></g></svg>




          <div *ngIf="authService.loggedIn()" style="display: flex; flex-direction: row; padding-top: 1%">
            <p class="btn"  style="min-width: 100px;font-size: large; padding-top: 5%" [popover]="popTemplate">
              Hi {{ usernameLogin }}
            </p>

            <ng-template #popTemplate>

              <div  class="row">
           <div class="col-1"></div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o" routerLink="/profile" style="font-size: xx-large"></i>
                    <p routerLink="/profile" routerLinkActive="router-link-active">
                      My Profile
                    </p>
                  </div>
                  <div class="col-5 btn" >
                    <i class="fa fa-user-circle-o" routerLink="/myOrders" style="font-size: xx-large"></i>
                    <p routerLink="/myOrders" routerLinkActive="router-link-active">
                      My orders
                    </p>
                  </div>
                  <div class="col-1"></div>

                </div>
                  <div class="row">
                    <div class="col-1"></div>

                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o" routerLink="/testimonals" style="font-size: xx-large"></i>
                    <p routerLink="/testimonals" routerLinkActive="router-link-active">
                      Testimonal
                    </p>
                  </div>
                  <div class="col-5 btn">
                    <li *ngIf="authService.loggedIn()" style="font-size: xx-large" routerLink="/referFriend"
                      class="fa fa-sign-out"></li>
                    <p *ngIf="authService?.loggedIn()" routerLink="/referFriend ">
                      Refer Friend
                    </p>
                    <div class="col-1"></div>
                  </div>


                  </div>
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5 btn">
                      <i class="fa fa-user-circle-o" routerLink="/supportpage" style="font-size: xx-large"></i>
                      <p routerLink="/supportpage" routerLinkActive="router-link-active">
                        Help
                      </p>
                    </div>
                    <div class="col-5 btn"  >
                    <i routerLink="/paymentPage" class="fa fa-user-circle-o" style="font-size: xx-large"></i>
                    <p  routerLink="/paymentPage" routerLinkActive="router-link-active">
                      Payment Cards
                    </p>

                  </div>
                  <div class="col-1"></div>

                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o"  style="font-size: xx-large"></i>
                    <p >Favourite</p>
                  </div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o"  style="font-size: xx-large"></i>
                    <p  routerLinkActive="router-link-active">
                      Offers
                    </p>

                  </div>
      <div class="col-1"></div>
                </div>

                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o"  style="font-size: xx-large"></i>
                    <p >Favourite offers </p>
                  </div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o"  style="font-size: xx-large"></i>
                    <p  routerLinkActive="router-link-active">
                      Payment Card
                    </p>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row" *ngIf="authService.getRole() !== 'admin'">
                  <div class="col-1"></div>
                  <div class="col-5 btn">
                    <i class="fa fa-user-circle-o" routerLink="/blog" style="font-size: xx-large"></i>
                    <p routerLink="/blog" routerLinkActive="router-link-active">
                      Blog
                    </p>
                  </div>
                </div>
                <hr style="margin: 0px;">
                  <div  *ngIf="authService.getRole() == 'admin'">
                    <div  class="col-12 btn" [routerLink]="['admin/products']"  >
                      <p style="font-size: 18px;"  ><span>Products</span> </p>
                    </div>

                  </div>
                  <hr style="margin: 0px;">
                  <div  *ngIf="authService.getRole() == 'admin'">
                    <div  class="col-12 btn"  [routerLink]="['admin/addProduct']">
                      <p style="font-size: 18px;"  ><span>Add Product</span> </p>
                    </div>

                  </div>
                  <hr style="margin: 0px;">
                  <div  *ngIf="authService.getRole() == 'admin'">
                    <div  class="col-12 btn"  [routerLink]="['admin/']">
                      <p style="font-size: 18px;"  ><span>Order Status</span> </p>
                    </div>

                  </div>

                <hr style="margin: 0px;">
                  <div  >
                    <div  class="col-12 btn"  (click)="onLogoutClick()">
                      <p style="font-size: 18px;"  *ngIf="authService.loggedIn()"><span style="color: rgb(226, 66, 66);">Logout</span>   {{ usernameLogin }} </p>
                    </div>

                  </div>
            </ng-template>
             </div>
          <div style="padding-top: 1%">
            <i class="fa fa-shopping-cart"  routerLink="/cart" style="font-size: xx-large"></i>
          </div>
        </div>
      </div>

      <hr style="height: 1px; margin: 0px 0px" />

      <nav class=" sticky-top fundpress-menu navbar sticky-top navbar-light"
        style="min-height: 60px;max-height: 60px; width:100%;  background-color: white;">

        <div style="display: flex; margin-right: auto;">


        <p *ngIf="visible" style="
        font-size: small;
        font-weight: 20px;
        padding-right: 30px;
       padding-left: 20px;
       font-weight: bold;
        padding-top: 20px;
      " routerLink="/">
          SHIRIVAS FOODS
        </p>

        <ul *ngIf="isSHowSearch==false" class="nav-menu" style="max-height: 70px;width: auto;">
          <li class="dropdown" routerLink="/">
            <a>{{ getHeaderNames(1) }}</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(2)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('vegetarian')">{{
                  getPicklesConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('Non-vegetarian')">{{
                  getPicklesConstants(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(3)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('PoduluPowders')">{{
                  getTraditionalPodulu(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('HomeMadeMasalas')">{{
                  getTraditionalPodulu(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(4)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('TradaitonalSweets')">{{
                  getSweetsandHotConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('TradaitonalHot')">{{
                  getSweetsandHotConstants(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown" routerLink="/specialoffers">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(5)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('Non-vegetarianCombo')">{{
                  getSpecialConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('VegetarianCombo')">{{
                  getSpecialConstants(2)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('HotCombo')">{{
                  getSpecialConstants(3)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('SweetsCombo')">{{
                  getSpecialConstants(4)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(6)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(8)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a>{{ getSupportConstants(1) }}</a>
              </li>
              <li>
                <a>{{ getSupportConstants(2) }}</a>
              </li>
              <li>
                <a>{{ getSupportConstants(3) }}</a>
              </li>
              <li>
                <a [routerLink]="['/supportpage']">{{
                  getSupportConstants(4)
                  }}</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>


        <div *ngIf="visibleI && isSHowSearch == true" style="
          width: 80%;
          border-radius: 6px;
          font-weight: 300px;
          background-color: rgb(240, 238, 238);
          display: flex;
          flex-direction: row;
          padding: 10px;
          margin-right: auto;
        ">
          <i class="fa fa-search" style="
              font-weight: 200;
              font-size: large;
              color: rgb(134, 132, 132);"></i>
          <input class="searchHome" (input)="onSearchChange($event.target.value)"
            placeholder="What Are You Looking For?" />
        </div>

        <div style="display: flex;text-align: right;justify-content: flex-end;float: right;">
          <p  (click)="toggleDisplay()" *ngIf="visibleI && isSHowSearch==false">
            <span><i class="fa fa-search" style="
                font-weight: 200;
                padding-top: 10px;
                font-size: large;
                padding-left: 10px;
                padding-right: 10px;
                color: rgb(134, 132, 132);
              "></i></span>
          </p>

          <p *ngIf="isSHowSearch == true" (click)="toggleDisplay()"
            style="     padding-right: 10px;padding-left: 10px;padding-top: 10px;font-weight: 300px; color: grey">
            <i class="fa fa-times"></i>
          </p>
          <div *ngIf="visibleI && !authService.loggedIn() ">
            <svg style="font-size: xx-large" style="padding-top: 1%"  routerLink="/login"
            width="40" height="26" viewBox="0 0 10.667 16"><g transform="translate(-6 -3)">
              <path d="M15.111,6.556A3.556,3.556,0,1,1,11.556,3,3.556,3.556,0,0,1,15.111,6.556Zm-1.778,0a1.778,1.778,0,1,1-1.778-1.778A1.778,1.778,0,0,1,13.333,6.556Z" transform="translate(-0.222)" fill="#292929" fill-rule="evenodd"></path><path d="M14.889,14.667A.889.889,0,0,0,14,13.778H8.667a.889.889,0,0,0-.889.889V20H6V14.667A2.667,2.667,0,0,1,8.667,12H14a2.667,2.667,0,0,1,2.667,2.667V20H14.889Z" transform="translate(0 -1)" fill="#292929"></path></g></svg>

          </div>



          <div *ngIf="visibleI " >
            <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large;padding-right: 30px;"></i>
          </div>
        </div>
      </nav>

      <router-outlet> </router-outlet>

      <div *ngIf="deviceLg || deviceMd">
        <div *ngIf="getCartProducts.length != 0" (click)="cartPage()" style="
            box-sizing: border-box;
            min-width: 0px;
            max-width: 960px;
            margin-left: 20%;
            pointer-events: none;
            width: calc(100% - 40px);
          ">
          <button style="
              bottom: 32px;
              opacity: 1;
              transform: translateY(0px);
              border: 0px;
              outline: 0px;
              max-width: 960px;
              height: 50px;
              color: white;
              padding: 0px 30px;
              position: fixed;
              pointer-events: all;
              width: 60% !important;
              border-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: rgb(41, 41, 41);
              box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
              cursor: pointer;
              left: auto;
              right: auto;
              z-index: 999;
            ">
            <div style="color: white;width: 100%;">
              <div style="float: left;">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <path id="shopping-bag"
                  d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
                  transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
              </svg>
             </div>
              <span style="margin-left:5px">
                Added {{ getCartProducts.length }} Items
              </span>
            </div>
            <div style="color: white">${{ getTotal }}</div>
          </button>
        </div>
      </div>
    </div>

  </header>

  <div *ngIf="deviceXs || deviceSm">

      <div *ngIf="getCartProducts.length != 0" (click)="cartPage()" style="
          box-sizing: border-box;
          min-width: 0px;
          max-width: 960px;
          margin: 5%;
          pointer-events: none;
        ">
        <button style="
            bottom: 32px;
            opacity: 1;
            transform: translateY(0px);
            border: 0px;
            outline: 0px;
            max-width: 960px;
            height: 50px;
            color: white;
            padding: 0px 30px;
            position: fixed;
            pointer-events: all;
            width: 60% !important;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(41, 41, 41);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
            cursor: pointer;
            left: 20%;
            right: auto;
            z-index: 999;
          ">
          <div style="color: white;width: 100%;">
            <svg width="16" height="16" viewBox="0 0 16 16">
              <path id="shopping-bag"
                d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
                transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
            </svg>
            Added {{ getCartProducts.length }} Items
          </div>
          <div style="color: white">${{ getTotal }}</div>
        </button>
      </div>

    <div style="overflow-x: unset;">
      <app-nav>
        <router-outlet></router-outlet>
      </app-nav>
    </div>

  </div>
  <app-footer></app-footer>

