 <div >

<header *ngIf="deviceLg || deviceMd">
  <div>
    <div style="padding-top: 0.5%;


        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      ">
      <p style="padding-left: 0.5%;font-size: 2vw; font-weight: 500;padding-top:2%;" routerLink="/">
        SHIRIVAS FOODS
      </p>
      <div style="

          width: 60%;


          padding: 10px;
        ">
        <p style="border-radius: 6px;font-weight: 300px  ;  margin-left: 5%;
        margin-right: 5%;background-color: rgb(240, 238, 238);">
          <span><i class="fa fa-search" routerLink="/login" style="
                font-weight: 200;
                font-size: large;
                margin-right: 2%;
                padding: 2%;

                color: rgb(134, 132, 132);
              "></i></span>
          What Are You Looking For?
        </p>
      </div>
      <div style="padding-top: 1%;">
        <i class="fa fa-user-circle-o" routerLink="/login" style="font-size: xx-large"></i>
        <p routerLink='/login' routerLinkActive="router-link-active">Login</p>
      </div>
      <div   style="display: flex;flex-direction: row;padding-top: 1%;">
        <p *ngIf="authService.loggedIn()" style="font-size: large;padding-top: 5%;">Hi {{usernameLogin}}</p>
        <i class="fa fa-cog" style="font-size: xx-large" [popover]="popTemplate"
              ></i>
          <div>
            <ng-template #popTemplate>

<div class="row">
  <div class="col-lg-6">
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/myOrders" style="font-size: xx-large"></i>
      <p routerLink='/myOrders' routerLinkActive="router-link-active">My orders </p>
    </div>
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/supportpage" style="font-size: xx-large"></i>
      <p routerLink='/supportpage' routerLinkActive="router-link-active">Support </p>
    </div>
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/aboutUs" style="font-size: xx-large"></i>
      <p routerLink='/aboutUs' routerLinkActive="router-link-active">About </p>
    </div>
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/testimonals" style="font-size: xx-large"></i>
      <p routerLink='/testimonals' routerLinkActive="router-link-active">Testimonals </p>
    </div>
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/blog" style="font-size: xx-large"></i>
      <p routerLink='/blog' routerLinkActive="router-link-active">Blog </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/admin" style="font-size: xx-large"></i>
      <p routerLink='/admin' routerLinkActive="router-link-active">Admin </p>
    </div>
    <div style="padding-top: 1%;">
      <li *ngIf="authService.loggedIn()" style="font-size: xx-large" (click)="onLogoutClick()" class="fa fa-sign-out">
      </li>
      <p *ngIf="authService.loggedIn()">Logout</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="padding-top: 1%;">
      <i class="fa fa-user-circle-o" routerLink="/giftCards" style="font-size: xx-large"></i>
      <p routerLink='/giftCards' >Gift Cards </p>
    </div>
    <div style="padding-top: 1%;">
      <li *ngIf="authService.loggedIn()" style="font-size: xx-large" routerLink="/referFriend" class="fa fa-sign-out">
      </li>
      <p *ngIf="authService.loggedIn()"  routerLink="/referFriend ">Refer Friend</p>
    </div>
  </div>
  </div>

            </ng-template>
          </div>

</div>
      <div style="padding-top: 1%;">
        <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large"></i>
      </div>
    </div>

    <hr style="height: 1px;margin: 0px 0px;" />

    <nav   class="navbar sticky-top fundpress-menu navbar sticky-top navbar-light" style="min-height: 50px;background-color: white;" >
      <ul class="nav-menu" style="width:90%">
        <li class="dropdown" routerLink="/">
          <a>{{getHeaderNames(1)}}</a>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(2)}}</a>
          <ul class="dropdown-menu">
            <li><a  (click)="catagory(getPicklesConstants(1))" >{{getPicklesConstants(1)}}</a></li>
            <li><a (click)="catagory(getPicklesConstants(2))">{{getPicklesConstants(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(3)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getTraditionalPodulu(1))">{{getTraditionalPodulu(1)}}</a></li>
            <li><a (click)="catagory(getTraditionalPodulu(2))">{{getTraditionalPodulu(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(4)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getSweetsandHotConstants(1))">{{getSweetsandHotConstants(1)}}</a></li>
            <li><a (click)="catagory(getSweetsandHotConstants(2))">{{getSweetsandHotConstants(2)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/specialoffers">
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(5)}}</a>
          <ul class="dropdown-menu">
            <li><a (click)="catagory(getSpecialConstants(1))">{{getSpecialConstants(1)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(2))">{{getSpecialConstants(2)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(3))">{{getSpecialConstants(3)}}</a></li>
            <li><a (click)="catagory(getSpecialConstants(4))">{{getSpecialConstants(4)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(6)}}</a>
          <ul class="dropdown-menu">
            <li><a  routerLink="/faq">{{getOthersConstants(1)}}</a></li>
            <li><a  routerLink="/faq">{{getOthersConstants(1)}}</a></li>
            <li><a  routerLink="/faq">{{getOthersConstants(1)}}</a></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a class="dropdown-toggle" data-toggle="dropdown">{{getHeaderNames(8)}}</a>
          <ul class="dropdown-menu">
            <li><a >{{getSupportConstants(1)}}</a></li>
            <li><a >{{getSupportConstants(2)}}</a></li>
            <li><a    >{{getSupportConstants(3)}}</a></li>
            <li><a [routerLink]="['/supportpage']"  >{{getSupportConstants(4)}}</a></li>
          </ul>
        </li>
        
      </ul>
      <div  >
        <i class="fa fa-user-circle-o" routerLink="/login" style="font-size: xx-large"></i>
       
      </div>
      <div>
        <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large"></i>
      </div>
    </nav>

    <router-outlet> </router-outlet>

    <div *ngIf="deviceLg || deviceMd">
    <div *ngIf="getCartProducts!=0" (click)="cartPage()" style="
    box-sizing: border-box;
    min-width: 0px;
    max-width: 960px;
    margin: 0px auto;
    pointer-events: none;
    width: calc(100% - 40px);
">
      <button style="
          bottom: 87px;
          opacity: 1;
          transform: translateY(0px);
          border: 0px;
          outline: 0px;
          max-width: 960px;
          height: 50px;
          color: white;
          padding: 0px 30px;
          position: fixed;
          pointer-events: all;
          width: calc(100% - 40px);
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgb(41, 41, 41);
          box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
          cursor: pointer;
          left: auto;
          right: auto;
          z-index: 999;
        ">
        <div style="color: white;">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path id="shopping-bag"
              d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
              transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
          </svg>
          Added {{getCartProducts.length}} Items
        </div>
        <div style="color: white;">${{getTotal}}</div>
      </button>
    </div>
  </div>
  </div>
</header>

<div *ngIf="deviceXs || deviceSm">

    <div >
    <div *ngIf="getCartProducts!=0" (click)="cartPage()" style="
    box-sizing: border-box;
    min-width: 0px;
    max-width: 960px;
    margin: 0px auto;
    pointer-events: none;
    width: calc(100% - 40px);
">
      <button style="
          bottom: 87px;
          opacity: 1;
          transform: translateY(0px);
          border: 0px;
          outline: 0px;
          max-width: 960px;
          height: 50px;
          color: white;
          padding: 0px 30px;
          position: fixed;
          pointer-events: all;
          width: calc(100% - 40px);
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgb(41, 41, 41);
          box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
          cursor: pointer;
          left: auto;
          right: auto;
          z-index: 999;
        ">
        <div style="color: white;">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path id="shopping-bag"
              d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
              transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
          </svg>
          Added {{getCartProducts.length}} Items
        </div>
        <div style="color: white;">${{getTotal}}</div>
      </button>
    </div>
  </div>

  <app-nav>
    <router-outlet></router-outlet>
  </app-nav>
</div>
  <app-footer></app-footer>
</div>
