<div>
  <header *ngIf="deviceLg || deviceMd">
    <div>
      <div class="row" style="
          padding-top: 0.5%;
        ">
        <p class="col-3" style="
            font-size: 2vw;
            font-weight: 500;
            padding-left: 3%;
            padding-top: 2%;
          " routerLink="/">
          SHIRIVAS FOODS
        </p>
        <div class="col-7" style=" padding: 10px">
          <div style="
              border-radius: 6px;
              font-weight: 300px;
              background-color: rgb(240, 238, 238);
              display: flex;
              padding: 10px;
            ">
            <span><i class="fa fa-search" style="
                  font-weight: 200;
                  font-size: large;
                  padding: 2%;
                  color: rgb(134, 132, 132);"></i></span>
            <input class="searchHome" (input)="onSearchChange($event.target.value)"
              placeholder="What Are You Looking For?" />
          </div>
        </div>
        <div class="col-2"
          style="display: flex; flex-direction: row;padding-right: 2%;justify-content: flex-end; padding-top: 1%">
          <div style="display: flex; flex-direction: row; padding-top: 1%">
            <p *ngIf="authService.loggedIn()" style="font-size: large; padding-top: 5%">
              Hi {{ usernameLogin }}
            </p>
            <i class="fa fa-user-circle-o" style="font-size: xx-large" [popover]="popTemplate"></i>
            <div>
              <ng-template #popTemplate>
                <div class="row">
                  <div class="col-lg-6">
                    <div *ngIf="!authService.loggedIn()">

                      <div style="padding-top: 1%">
                        <i class="fa fa-user-circle-o" routerLink="/login" style="font-size: xx-large"></i>
                        <p routerLink="/login" routerLinkActive="router-link-active">Login</p>
                      </div>
                    </div>
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/myOrders" style="font-size: xx-large"></i>
                      <p routerLink="/myOrders" routerLinkActive="router-link-active">
                        My orders
                      </p>
                    </div>

                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/supportpage" style="font-size: xx-large"></i>
                      <p routerLink="/supportpage" routerLinkActive="router-link-active">
                        Support
                      </p>
                    </div>
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/aboutUs" style="font-size: xx-large"></i>
                      <p routerLink="/aboutUs" routerLinkActive="router-link-active">
                        About
                      </p>
                    </div>
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/testimonals" style="font-size: xx-large"></i>
                      <p routerLink="/testimonals" routerLinkActive="router-link-active">
                        Testimonals
                      </p>
                    </div>
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/blog" style="font-size: xx-large"></i>
                      <p routerLink="/blog" routerLinkActive="router-link-active">
                        Blog
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/admin" style="font-size: xx-large"></i>
                      <p routerLink="/admin" routerLinkActive="router-link-active">
                        Admin
                      </p>
                    </div>
                    <div style="padding-top: 1%">
                      <li *ngIf="authService.loggedIn()" style="font-size: xx-large" (click)="onLogoutClick()"
                        class="fa fa-sign-out"></li>
                      <p *ngIf="authService.loggedIn()">Logout</p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="padding-top: 1%">
                      <i class="fa fa-user-circle-o" routerLink="/giftCards" style="font-size: xx-large"></i>
                      <p routerLink="/giftCards">Gift Cards</p>
                    </div>
                    <div style="padding-top: 1%">
                      <li *ngIf="authService.loggedIn()" style="font-size: xx-large" routerLink="/referFriend"
                        class="fa fa-sign-out"></li>
                      <p *ngIf="authService?.loggedIn()" routerLink="/referFriend ">
                        Refer Friend
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div style="padding-top: 1%">
            <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large"></i>
          </div>
        </div>
      </div>

      <hr style="height: 1px; margin: 0px 0px" />

      <nav class=" sticky-top fundpress-menu navbar sticky-top navbar-light"
        style="padding-left: 60px;;min-height: 60px;max-height: 60px;justify-content: flex-start;  background-color: white;">
        <p *ngIf="visible" style="
        font-size: small;
        font-weight: 20px;
       padding-right: 10px;
       font-weight: bold;
        padding-top: 1%;
      " routerLink="/">
          SHIRIVAS FOODS
        </p>

        <ul *ngIf="isSHowSearch==false" class="nav-menu" style="width: 80%;">
          <li class="dropdown" routerLink="/">
            <a>{{ getHeaderNames(1) }}</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(2)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('vegetarian')">{{
                  getPicklesConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('Non-vegetarian')">{{
                  getPicklesConstants(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(3)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('PoduluPowders')">{{
                  getTraditionalPodulu(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('HomeMadeMasalas')">{{
                  getTraditionalPodulu(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(4)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('TradaitonalSweets')">{{
                  getSweetsandHotConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('TradaitonalHot')">{{
                  getSweetsandHotConstants(2)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown" routerLink="/specialoffers">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(5)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="catagory('Non-vegetarianCombo')">{{
                  getSpecialConstants(1)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('VegetarianCombo')">{{
                  getSpecialConstants(2)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('HotCombo')">{{
                  getSpecialConstants(3)
                  }}</a>
              </li>
              <li>
                <a (click)="catagory('SweetsCombo')">{{
                  getSpecialConstants(4)
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(6)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
              <li>
                <a routerLink="/faq">{{ getOthersConstants(1) }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{
              getHeaderNames(8)
              }}</a>
            <ul class="dropdown-menu">
              <li>
                <a>{{ getSupportConstants(1) }}</a>
              </li>
              <li>
                <a>{{ getSupportConstants(2) }}</a>
              </li>
              <li>
                <a>{{ getSupportConstants(3) }}</a>
              </li>
              <li>
                <a [routerLink]="['/supportpage']">{{
                  getSupportConstants(4)
                  }}</a>
              </li>
            </ul>
          </li>
        </ul>




        <div *ngIf="visibleI && isSHowSearch == true" style="
          width: 80%;
          border-radius: 6px;
          font-weight: 300px;
          background-color: rgb(240, 238, 238);
          display: flex;
          flex-direction: row;
          padding: 10px;
        ">
          <i class="fa fa-search" style="
              font-weight: 200;
              font-size: large;
              color: rgb(134, 132, 132);"></i>
          <input class="searchHome" (input)="onSearchChange($event.target.value)"
            placeholder="What Are You Looking For?" />
        </div>
        <div style="display: flex;justify-content: flex-end;">
          <p style="justify-content: flex-end;" (click)="toggleDisplay()" *ngIf="visibleI && isSHowSearch==false">
            <span><i class="fa fa-search" style="
                font-weight: 200;
                padding-top: 10px;
                font-size: large;
                padding-left: 10px;
                color: rgb(134, 132, 132);
              "></i></span>
          </p>

          <p *ngIf="isSHowSearch == true" (click)="toggleDisplay()"
            style="padding-left: 10px;padding-top: 10px;font-weight: 300px; color: grey">
            <i class="fa fa-times"></i>
          </p>
          <div *ngIf="visibleI && !authService.loggedIn() ">
            <i class="fa fa-user-circle-o" routerLink="/login" style="font-size: xx-large;padding-left: 10px;"></i>
          </div>
          <div *ngIf="visibleI ">
            <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large;padding-left: 10px;"></i>
          </div>
        </div>

      </nav>

      <router-outlet> </router-outlet>

      <div *ngIf="deviceLg || deviceMd">
        <div *ngIf="getCartProducts.length != 0" (click)="cartPage()" style="
            box-sizing: border-box;
            min-width: 0px;
            max-width: 960px;
            margin-left: 20%;
            pointer-events: none;
            width: calc(100% - 40px);
          ">
          <button style="
              bottom: 32px;
              opacity: 1;
              transform: translateY(0px);
              border: 0px;
              outline: 0px;
              max-width: 960px;
              height: 50px;
              color: white;
              padding: 0px 30px;
              position: fixed;
              pointer-events: all;
              width: 60% !important;
              border-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: rgb(41, 41, 41);
              box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
              cursor: pointer;
              left: auto;
              right: auto;
              z-index: 999;
            ">
            <div style="color: white;width: 100%;">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <path id="shopping-bag"
                  d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
                  transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
              </svg>
              <span style="margin-left:5px">
                Added {{ getCartProducts.length }} Items
              </span>
            </div>
            <div style="color: white">${{ getTotal }}</div>
          </button>
        </div>
      </div>
    </div>

  </header>

  <div *ngIf="deviceXs || deviceSm">
    <div>
      <div *ngIf="getCartProducts.length != 0" (click)="cartPage()" style="
          box-sizing: border-box;
          min-width: 0px;
          max-width: 960px;
          margin: 5%;
          pointer-events: none;
          width: calc(100% - 10px);
        ">
        <button style="
            bottom: 32px;
            opacity: 1;
            transform: translateY(0px);
            border: 0px;
            outline: 0px;
            max-width: 960px;
            height: 50px;
            color: white;
            padding: 0px 30px;
            position: fixed;
            pointer-events: all;
            width: 80% !important;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(41, 41, 41);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
            cursor: pointer;
            left: auto;
            right: auto;
            z-index: 999;
          ">
          <div style="color: white;width: 100%;">
            <svg width="16" height="16" viewBox="0 0 16 16">
              <path id="shopping-bag"
                d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
                transform="translate(-2 -2)" fill="#ffffff" fill-rule="evenodd"></path>
            </svg>
            Added {{ getCartProducts.length }} Items
          </div>
          <div style="color: white">${{ getTotal }}</div>
        </button>
      </div>

    <div style="overflow-x: unset;">
      <app-nav>
        <router-outlet></router-outlet>
      </app-nav>
    </div>
  </div>
  </div>
  <app-footer></app-footer>

