
/* You can add global styles to this file, and also import other style files */
.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
html, body { height: 100%; }
body { margin: 0;  }
.mat-drawer-content {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: unset !important;
}
.mat-vertical-content {
  padding: 0px 0px 0px 0px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(105, 170, 105);
  color: #fff;
}
.popover {
  position: absolute;
  margin-right: 15px;
  padding-right: 10px;
  min-width: 260px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;

  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}
.popover.bottom>.arrow {
  top: -18px;
  /* left: 50%; */
  /* margin-left: -11px; */
  /* border-top-width: 0; */
  border-bottom-color:white ;

}
p {
  color: rgb(58, 57, 57);
}
div {
  color: rgb(54, 54, 54);
}
@media (min-width: 400px) {
    p {
font-size:10px;
    }
    h1 {
      font-size:large;
    }

}
@media (min-width: 700px) {
    p {
      font-size:15px;
          }
          h1 {
            font-size: xx-large;
          }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .mat-dialog-container {
  max-width: 100vw !important;
} */

.display-flex {
  display: flex;
}

.customInput {
  height: 38px;
  width: 34vw;
  border: 1px solid #ccc;
  border-width: 1dp;
  size: 10;
  border-radius: 5px;

}

.w34vw {
  width: 34vw;
}
