<header style="padding-bottom: 5%" *ngIf="deviceLg || deviceMd">
  <div>
    <div
      style="
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      "
    >
      <p
        style="font-size: 2vw; font-weight: bold; margin-top: 2%"
        routerLink=""
      >
        PICKSY
      </p>
      <div
        style="
          background-color: rgb(240, 238, 238);
          width: 60%;
          border-radius: 6px;
          padding-top: 1.5%;
          padding-left: 20px;
        "
      >
        <p style="font-weight: 300px">
          <span
            ><i
              class="fa fa-search"
              routerLink="/login"
              style="
                font-weight: 200;
                font-size: large;
                margin-right: 2%;
                color: rgb(134, 132, 132);
              "
            ></i
          ></span>
          What Are You Looking For?
        </p>
      </div>
      <div style="margin-top: 1%">
        <i
          class="fa fa-user-circle-o"
          routerLink="/login"
          style="font-size: xx-large"
        ></i>
      </div>
      <div style="margin-top: 1%">
        <i
          class="fa fa-shopping-cart"
          routerLink="/cart"
          style="font-size: xx-large"
        ></i>
      </div>
    </div>

    <hr />

    <nav class="fundpress-menu" style="width: 200vw; padding-bottom: 3%">
      <ul class="nav-menu">
        <li class="dropdown" routerLink="/veg">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Vegetables <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li class="navitem"><a href="#">Herbs</a></li>
            <li><a href="#">Fresh Vegetables</a></li>
            <li><a href="#">Packed Vegetables</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/organic">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Organic <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Spice</a></li>
            <li><a href="#">Honey</a></li>
            <li><a href="#">Oil</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/snacks">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Snacks & Beverages <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Juice</a></li>
            <li><a href="#">Coffe</a></li>
            <li><a href="#">Tea</a></li>
            <li><a href="#">Fizzy Drinks</a></li>
            <li><a href="#">Crisp</a></li>
            <li><a href="#">Chocolates</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/fish">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Fish & Meat <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Packed</a></li>
            <li><a href="#">Fish Counter</a></li>
            <li><a href="#">Poultry Counter</a></li>
            <li><a href="#">Meat Counter</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/dairy">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Dairy <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Yougurt</a></li>
            <li><a href="#">Milk</a></li>
            <li><a href="#">Cheese</a></li>
            <li><a href="#">Eggs</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLink="/bakery">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Bakery & Pastry <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Bunny Rolls</a></li>
            <li><a href="#">Pies</a></li>
            <li><a href="#">Cakes</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <router-outlet> </router-outlet>

    <div *ngIf="getCartProducts!=0"  routerLink='/cart' style="
    box-sizing: border-box;
    min-width: 0px;
    max-width: 960px;
    margin: 0px auto;
    pointer-events: none;
    width: calc(100% - 40px);
">
      <button
        style="
          bottom: 87px;
          opacity: 1;
          transform: translateY(0px);
          border: 0px;
          outline: 0px;
          max-width: 960px;
          height: 50px;
          color: white;
          padding: 0px 30px;
          position: fixed;
          pointer-events: all;
          width: calc(100% - 40px);
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgb(41, 41, 41);
          box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
          cursor: pointer;
          left: auto;
          right: auto;
          z-index: 999;
        "
      >
        <div style="color: white;">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path
              id="shopping-bag"
              d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
              transform="translate(-2 -2)"
              fill="#ffffff"
              fill-rule="evenodd"
            ></path>
          </svg>
          Added {{getCartProducts.length}} Items
        </div>
        <div style="color: white;">${{getTotal}}</div>
      </button>
    </div>

  </div>
</header>

<div *ngIf="deviceXs || deviceSm">
  <div *ngIf="getCartProducts!=0"  routerLink='/cart' style="
  box-sizing: border-box;
  min-width: 0px;
  max-width: 960px;
  margin: 0px auto;
  pointer-events: none;
  width: 10vw;
  width: calc(100% - 40px);
">
    <button
      style="
        bottom: 87px;
        opacity: 1;
        transform: translateY(0px);
        border: 0px;
        outline: 0px;
        max-width: 960px;
        height: 50px;
        color: white;
        padding: 0px 30px;
        position: fixed;
        pointer-events: all;
        width: calc(100% - 40px);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(41, 41, 41);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
        cursor: pointer;
        left: auto;
        right: auto;
        z-index: 999;
      "
    >
      <div style="color: white;">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path
            id="shopping-bag"
            d="M4.4,3.6H15.6a.8.8,0,0,1,.8.8V15.6a.8.8,0,0,1-.8.8H4.4a.8.8,0,0,1-.8-.8V4.4A.8.8,0,0,1,4.4,3.6ZM2,4.4A2.4,2.4,0,0,1,4.4,2H15.6A2.4,2.4,0,0,1,18,4.4V15.6A2.4,2.4,0,0,1,15.6,18H4.4A2.4,2.4,0,0,1,2,15.6ZM10,10C7.791,10,6,7.851,6,5.2H7.6c0,2.053,1.335,3.2,2.4,3.2s2.4-1.147,2.4-3.2H14C14,7.851,12.209,10,10,10Z"
            transform="translate(-2 -2)"
            fill="#ffffff"
            fill-rule="evenodd"
          ></path>
        </svg>
        Added {{getCartProducts.length}} Items
      </div>
      <div style="color: white;">${{getTotal}}</div>
    </button>
  </div>

  <app-nav>
    <router-outlet></router-outlet>
  </app-nav>
</div>
