<div
  style="padding-left: 3%;padding-right: 3%;display: flex;justify-content: space-between;flex-direction: row;padding-top: 2.5;padding-bottom: 2.5;">

  <p style="font-size: large;font-weight: 500;margin-top: 2%;" routerLink="">SHRIVASAFOODS</p>
  <p style="font-size: larger;font-weight: 500;margin-top: 2%;padding-right: 3%;" routerLink="">Home</p>

      <div style="padding-top: 1%;">
        <i class="fa fa-shopping-cart" routerLink="/cart" style="font-size: xx-large"></i>
      </div>
</div>
<hr>
<router-outlet></router-outlet>
<app-footer></app-footer>

