.text-block1 {
  position: absolute;
  color: white;
  padding-top: 8%;
  padding-left: 39%;
  font-size: 26px;
  margin-bottom: 12px;
  font-weight: 500;
}
.text-block2 {
  color: white;

  font-weight: 500;
}
p:hover {
  color: #c59d5f;
}
p:default {
  color: whitesmoke;
}
.text-block1-small {
  position: absolute;
  color: white;
  padding-top: 12%;
  padding-left: 15%;
  font-size: 26px;
  margin-bottom: 12px;
  font-weight: 500;
}
.deviceXs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex:1
}
.deviceLg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   flex-wrap: wrap;
}
.gradient{
  background-color:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;

  padding:2%
}
