<div style="background-color:rgb(240, 236, 236) ;padding-bottom: 2.5%;min-height: 500px;">
  <div style="padding-top: 2.5%;padding-left: 2.5%;padding-right: 2.5%;border-radius: 6px;">

    <p class="text-block1">Testimonals</p>
    <div style="height: 20%;">
      <img class="img-responsive gradient" style="width: 100%;;object-fit:cove
  r;border-radius: 6px;" src="../assets/images/veg.jpg">
    </div>
  </div>
  <div class="card"  style="text-align: center;margin-top: 5%;margin-left:20%;margin-right: 20%;display: flex;flex-direction: column;">
    <h1>Top Clients</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
    </div>
    <div class="card"  style="text-align: center;margin-top: 5%;margin-left:20%;margin-right: 20%;display: flex;flex-direction: column;">
  <h1>Leave Your Review</h1>


  <div style="margin-left:5%;margin-right: 5%;" >

    <div  style="margin-left: 10%;margin-right: 10%;">
     <div style="display: flex;flex-direction: row;justify-content: space-between">
      <input [(ngModel)]="username" placeholder="username" style="width: 40%;" class="form-control" type="text" name="refrence">
      <input  [(ngModel)]="email" placeholder="email" style="width: 40%;" class="form-control" type="text" name="refrence">
    </div>
      <input  [(ngModel)]="message" placeholder="message" style="margin-top: 5%;width: 100%;height: 120%;" class="form-control" type="text" name="refrence">

           <div style="text-align: center;">
              <p  class="btn btn-primary"  (click)="submit()" >Submit</p>
            </div>

            </div>
    </div>


</div>
<div style="text-align: center;margin-top: 5%;margin-left:5%;margin-right: 5%;display: flex;flex-direction: column;">
 <h2>What our Clients say</h2>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%;">
    <h1 style="text-align: center;">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%">
    <h1 style="text-align: center;">username</h1>

    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>

</div>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%;">
    <h1 style="text-align: center;">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%">
    <h1 style="text-align: center;">username</h1>

    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>

</div>
<div class="row" style="margin-bottom: 1%;">
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%;">
    <h1 style="text-align: center;">username</h1>
    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-5" style="border: 1px;border-style: groove;padding:5%">
    <h1 style="text-align: center;">username</h1>

    <h3 style="word-wrap: break-word;">Maecenas est dui, commodo a rutrum eget, interdum vel
      lorem. Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
       viverra, dictum nisi sed.</h3>
  </div>

</div>
</div>
</div>
<app-footer></app-footer>
